/* fonts collection */

@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Lora:wght@400;700&family=Rokkitt&display=swap');

/* Text Selection */
::selection { text-shadow:none; color:#333; background:#FFFFC5; }
::-moz-selection { text-shadow:none; color:#333; background:#FFFFC5; }

body { font-size: 16px; line-height:180%; }
h1, h2, h3, h4, h5, h6 { font-family: "Arbutus Slab", Georgia, serif; font-weight:400 !important; }
h1 { font-size: 38px; }
h3 { font-size: 22px; margin: 24px 0 4px 0; }
h4 { margin: 2em 0 1em 0; }
body { font-family: 'Lora'; }
ul,ol { padding-left: 35px; margin-bottom: 20px; }
li { line-height: 27px; margin-bottom: 10px;}
h1, h2, h3, h4, h5, h6, body > .navbar .brand { }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner, .jumbotron, 
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus,
.bs-docs-sidenav,
.bs-docs-sidenav > .active > a { 
-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { border:0; }
.navbar .nav > li > a { padding-top:20px; }
body > .navbar .brand { margin-top:11px; font-size:14px; }
.navbar-inner { background: rgba(255, 255, 255, 0.9); }

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus { background:whiteSmoke; border-bottom:3px solid #FC3; }

.subhead h1 { font-size:50px; }
.jumbotron { color: #222; text-shadow: 0 1px 0px rgba(255,255,255,.8); background:none; border:0; filter:none; }
.jumbotron h1 {
  text-shadow: 1px 1px 0px rgba(255,255,255,.8), 2px 2px 0px rgba(233,188,44,.8), 3px 3px 0px rgba(255,255,255,.8);
  text-shadow:none;
}
.jumbotron p { font-size:20px; color: rgba(0,0,0,.7); }



section > .page-header,
section > .lead {
  color: #333;
}



/* code and pre  */
code,
pre {
 	padding: 0 3px 2px; margin-bottom: 4em; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 12px; color: #333333; white-space: pre-wrap; overflow: auto;  word-break: normal !important; word-wrap: normal !important; white-space: pre !important }
code {
 	margin: 0 .4em; font-size: 14px; padding: 1px 6px; background: #fff; border: 1px solid #DDE4E6; box-shadow: 1px 1px 0 #fff, 2px 2px 0 #DDE4E6;
	}
pre.prettyprint { font-size: 13px; margin-bottom: 30px; max-height: 500px; }
pre.prettyprint.linenums { font-size: 12px; }
pre.prettyprint li { margin-bottom: 0; }
/* FOOTER */
.footer { text-align:center; }
.footer p { margin-bottom:10px; }

/* TYPOGRAPHY */
ul { list-style:square; }
.lead { font-size:18px; }
blockquote .lead { margin-bottom:14px; }
.sub-section { padding-top: 40px; }
.sub-section .page-header { padding-bottom:0; margin-top: 0; margin-bottom: 14px; }
.highlight { background: #FFFFC5; padding: 0 2px; }
h1 .highlight { }
h1 small, h2 small  { font-size: 16px; margin-left:14px; font-weight: 400; font-family: Lora;}


/* SIDE NAV */
.bs-docs-sidenav li { margin-bottom: 0; }
.bs-docs-sidenav > li > a { margin:4px 0; }
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list a:hover { background:none; color:#DF5E22; text-shadow:none; }
/*.nav-list > .active ul a:hover, .nav-list ul a:hover, .nav-list > .active .active > a { color:#333; }*/
.affix .affix { position:static; }
.nav-list > li > ul > li > a { padding: 1px 5px 1px 24px; font-size: 14px; color: #AAA; }
.bs-docs-sidenav > li a { color:#222; font-size:18px; border:0;}
.bs-docs-sidenav > .active > a { padding:8px 14px; border-left:1px solid #ddd; margin-left:-1px; }
.nav-list > li > a:hover { background:none; }
.bs-docs-sidenav > li:first-child > a { 
  -webkit-border-radius: 0;
          border-radius: 0; }


section {
  padding-top: 80px;
  margin-bottom:60px;
}
.bs-docs-sidenav { margin-top:100px; background:none; }
.bs-docs-sidenav.affix { top:60px; margin-top:40px; }
.bs-docs-sidenav ul { display:none; }
.bs-docs-sidenav li.active ul { display:block; }
.jumbotron { padding: 60px 0 0 0; }

.nav-list ul { max-width: 180px; padding:6px 0px 10px 14px }


.label, .badge { font-size:14px; }

/* Side Nav */

@media screen and (max-width:480px) { 
	.subhead h1 { font-size:40px; }
}

@media screen and (max-height:680px) { 
	.bs-docs-sidenav { max-height: 80%; overflow: auto; }
}

/* BUTTONS - made minimal */
.btn {
	font-family: Rokkitt;
	background: #fff; text-shadow: none; box-shadow: none; border-radius: 0; border: 3px solid #333; transition: all 0.1s ease-out;
	}
.btn-success {
	color: #62c462; border-color: #62c462;	
	}
.btn:hover {
	background: #111; color: #fff; border-color: transparent;
	}
.btn-success:hover {
	background: #62c462; color: #fff; border-color: transparent;
	}
.btn-large {
	padding: 16px 30px;
	}

/* Step */
.step {
	position: relative; padding: 4px 0 0 70px; min-height: 60px;
	}
.step i {
	position: absolute; top: 0; left: 0; display: inline-block; margin-right: 20px; width: 50px; line-height: 59px; font-style: normal; text-align: center; font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; font-size: 60px;
	}