{% if 'fluid' in prefix %}<div class="page__header">{% endif %}
<div class="{{ containerClass }} page__heading-container">
  <div class="page__heading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#"><i class="material-icons icon-20pt">home</i></a></li>
        <li class="breadcrumb-item">UI Components</li>
        <li class="breadcrumb-item active" aria-current="page">Icons</li>
      </ol>
    </nav>
    
    <h1 class="m-0">Icons</h1>
  </div>
</div>
{% if 'fluid' in prefix %}</div> <!-- // END page__header --> {% endif %}

{% if 'fluid' in prefix %}
<div class="page__header page__header-nav">
  <div class="{{ containerClass }} page__container">
    {% include "layouts/_navbar.secondary.html" %}
  </div>
</div>
{% endif %}

<div class="{{ containerClass }} page__container">
  <div id="app-icons">
    <app-icons-app></app-icons-app>
  </div>
</div>