{% if 'fluid' in prefix %}<div class="page__header">{% endif %}
<div class="{{ containerClass }} page__heading-container">
  <div class="page__heading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#"><i class="material-icons icon-20pt">home</i></a></li>
        <li class="breadcrumb-item">UI Components</li>
        <li class="breadcrumb-item active" aria-current="page">Pagination</li>
      </ol>
    </nav>
    
    <h1 class="m-0">Pagination</h1>
  </div>
</div>
{% if 'fluid' in prefix %}</div> <!-- // END page__header --> {% endif %}

{% if 'fluid' in prefix %}
<div class="page__header page__header-nav">
  <div class="{{ containerClass }} page__container">
    {% include "layouts/_navbar.secondary.html" %}
  </div>
</div>
{% endif %}

<div class="{{ containerClass }} page__container">
  <div class="row">
    <div class="col-lg">
      <div class="card card-body">
        // content above this line
        <hr>
        <div class="d-flex flex-row align-items-center">
          <div class="form-inline">
            View 
            <select class="custom-select ml-2" style="width: 70px;">
              <option value="20" selected>20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>
          </div>
          <div class="ml-auto">
            20 <span class="text-muted">of 100</span> <a href="#" class="icon-muted"><i class="material-icons float-right">arrow_forward</i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Pagination Light</h4>
        </div>
        <div class="card-body">
          <div class="pagination-light">
            {% import "components/pagination.html" as pagination %}
            {{ pagination.component(pages=4, first=true, last=true) }}
            {{ pagination.component(pages=2, labels=true, class="m-0") }}
          </div>
        </div>
      </div>
      <div class="card">
          <div class="card-header card-header-large bg-white">
            <h4 class="card-header__title">Pagination Square</h4>
          </div>
          <div class="card-body">
            {% import "components/pagination.html" as pagination %}
            {{ pagination.component(pages=4, first=true, last=true) }}
            {{ pagination.component(pages=2, labels=true, class="m-0") }}
          </div>
        </div>
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Pagination Rounded</h4>
        </div>
        <div class="card-body">
          <div class="pagination-rounded">
            {% import "components/pagination.html" as pagination %}
            {{ pagination.component(pages=4, first=true, last=true) }}
            {{ pagination.component(pages=2, labels=true, class="m-0") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>