---
title: Login
slug: login
bodyClass: layout-login-centered-boxed
---
{% extends "layouts/blank.html" %}

{% block page %}
<div class="layout-login-centered-boxed__form card">
  <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-5 navbar-light">
    <a href="{{ home_url }}" class="navbar-brand flex-column mb-2 align-items-center mr-0" style="min-width: 0">
      <img class="navbar-brand-icon mr-0 mb-2" src="assets/images/stack-logo-blue.svg" width="25" alt="FlowDash">
      <span>FlowDash</span>
    </a>
    <p class="m-0">Create an account with FlowDash</p>
  </div>

  <a href="" class="btn btn-light btn-block">
    <span class="fab fa-google mr-2"></span>
    Continue with Google
  </a>

  <div class="page-separator">
    <div class="page-separator__text">or</div>
  </div>

  <form action="{{ home_url }}" novalidate>
    <div class="form-group">
      <label class="text-label" for="name_2">Name:</label>
      <div class="input-group input-group-merge">
        <input id="name_2" type="text" required="" class="form-control form-control-prepended" placeholder="John Doe">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="far fa-user"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="text-label" for="email_2">Email Address:</label>
      <div class="input-group input-group-merge">
        <input id="email_2" type="email" required="" class="form-control form-control-prepended" placeholder="john@doe.com">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="far fa-envelope"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="text-label" for="password_2">Password:</label>
      <div class="input-group input-group-merge">
        <input id="password_2" type="password" required="" class="form-control form-control-prepended" placeholder="Enter your password">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="far fa-key"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mb-5">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" checked="" class="custom-control-input" id="terms" />
        <label class="custom-control-label" for="terms">I accept <a href="#">Terms and Conditions</a></label>
      </div> 
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary mb-2" type="submit">Create Account</button><br>
      <a class="text-body text-underline" href="login-centered-boxed.html">Have an account? Login</a>
    </div>
  </form>
</div>
{% endblock %}