

$color--success: #43A047;
$color--info: #619bf2;
$color--warning: #F2B53F;
$color--danger: #C62828;
$color--info-alt: #a31356;

$color--gray-light: #dedede;
$color--gray-dark: #333;
$color--breadcrumbs: #EAEAEA;
$color--background: #F5F5F5;
$color--brown: #503f3c;
$color--text: #757575;

$navigation__link-color:$color--text;
$navigation__link-color--hover:#ffffff;
$navigation_color:#333;

/*Default style*/

$color--primary: #009688;
$color--accent: #FF5252;
$navigation_color:#424242;

/*Alternative Style 1*/

/*$color--primary: #F57C00;
$color--accent: #7C4DFF;
$navigation_color:#212121;*/

/*Alternative Style 2*/

/*$color--primary: #3F51B5;
$color--accent: #D81B60;
$navigation_color:#f5f5f5;
$navigation__link-color--hover:$color--primary;*/

/*Alternative Style 3*/

/*$color--primary: #D32F2F;
$color--accent: #607D8B;
$navigation_color:#f5f5f5;
$navigation__link-color--hover:$color--primary;*/


/*Alternative Style 4*/

/*$color--primary: #1976D2;
$color--accent: #FFC107;
$navigation_color:#333;*/

/*Alternative Style 5*/

/*$color--primary: #4CAF50;
$color--accent: #607D8B;
$navigation_color:#E0E0E0;
$navigation__link-color--hover:$color--primary;*/

/*Alternative Style 5*/

/*
$color--primary: #795548;
$color--accent: #009688;
$navigation_color:#333;*/
