<div class="page-err">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">
                 <h1>404</h1>
            </div>
            <div class="err-message">
                <h2>Page not found</h2>
            </div>
            <div class="err-body">
              <md-button class="md-fab md-primary" aria-label="Photos">
                <md-icon md-svg-src="dist/img/icons/ic_home_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                <md-tooltip>
                  Back to the homepage
                </md-tooltip>
              </md-button>
            </div>
        </div>
    </div>

</div>