<div class="page page-about">
    <div class="page-container">
        <div class="intro">
            <h2><strong>Little</strong> about us</h2>
            <p class="lead">Vero porro nulla culpa hic accusantium iste sequi error fugiat nesciunt commodi at distinctio. Dolorum, numquam in iusto corporis veritatis nulla! Nulla blanditiis vel quos impedit voluptates iste repellendus.</p>
        </div>


        <div class="row stat-container">
            <div class="col-sm-4">
                <section class="stat-item">
                    <span class="stat-num">18</span>
                    <span class="stat-desc">Years Experience</span>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="stat-item">
                    <span class="stat-num">369</span>
                    <span class="stat-desc">Satisfied Clients</span>                
                </section>
            </div>
            <div class="col-sm-4">
                <section class="stat-item">
                    <span class="stat-num">211</span>
                    <span class="stat-desc">Kinds of Products</span>                   
                </section>
            </div>
        </div>

        <div class="row info-container">
            <div class="col-md-6">
                <h2><strong>Who</strong> We are?</h2>
                <p class="lead">Consectetur adipisicing elit. Molestias,  quaerat facilis rem aut sunt iusto deleniti fugiat dolor culpa aliquam quasi.</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, doloribus, debitis accusantium beatae a aspernatur esse fugit laboriosam cumque minus quia consequuntur error commodi cum consectetur ea officia eveniet reprehenderit quas nesciunt. Reprehenderit voluptatem tempore architecto quidem nobis saepe neque.</p>
                <a href="javascript:;" class="btn btn-bordered-primary btn-width-medium">Join Us</a>
            </div>
            <div class="col-md-6">
                <h2><strong>What</strong> do We do?</h2>
                <p class="lead">Vero, praesentium perspiciatis, ratione, nisi, reiciendis illo est veniam! Provident nihil eius velit labore odio earum quos in.</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, doloribus, debitis accusantium beatae a aspernatur esse fugit laboriosam cumque minus quia consequuntur error commodi cum consectetur ea officia eveniet reprehenderit quas nesciunt. Reprehenderit voluptatem tempore architecto quidem nobis saepe neque.</p>
                <a href="javascript:;" class="btn btn-bordered-primary btn-width-medium">Contact Us!</a>
            </div>
        </div>
    </div>
</div>