<div class="page-forgot">

    <div class="signin-header">
      <div class="container text-center">
        <section class="logo">
          <a href="#/">
            <md-icon class="color-primary" md-svg-src="dist/img/icons/ic_whatshot_24px.svg"></md-icon>
          </a>
        </section>
      </div>
    </div>

    <div class="main-body">
        <div class="container">
            
            <div class="info text-center">
                <h2>Password Reset</h2>
                <p class="text-small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
            </div>

            <div class="form-container">

                <form class="form-horizontal" name="forgotPasswordForm">
                    <div class="form-group">
                      <md-input-container class="md-primary" md-no-float>
                        <md-icon md-svg-src="dist/img/icons/ic_mail_24px.svg"></md-icon>
                        <input ng-model="user.phone" type="text" placeholder="Email">
                      </md-input-container>
                    </div>
                    <div class="form-group">
                      <md-button class="btn-width-large btn-block btn-lg md-primary md-raised">Send</md-button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>

</div>