
<div class="page page-profile">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-info">
                    <div class="overlay_prof"></div>
                    <div class="profile_info">
                        <h3>John Doe</h3>
                        <p>Project Manager</p>
                    </div>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">679</p>
                            <p class="text-muted">Tweets</p>
                        </li>
                        <li>
                            <p class="size-h3">575</p>
                            <p class="text-muted">Followers</p>
                        </li>
                        <li>
                            <p class="size-h3">23</p>
                            <p class="text-muted">Following</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <section class="panel panel-box">
                        <div class="panel-top bg-facebook">
                            <div class="divider divider"></div>
                            <i class="fa fa-facebook size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">575</p>
                                    <p class="text-muted">Followers</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Following</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-3">
                    <section class="panel panel-box">
                        <div class="panel-top bg-twitter">
                            <div class="divider divider"></div>
                            <i class="fa fa-twitter size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">575</p>
                                    <p class="text-muted">Followers</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Following</p>
                                </li>
                            </ul>
                        </div>
                    </section>                        
                </div>
                <div class="col-sm-3">
                    <section class="panel panel-box">
                        <div class="panel-top bg-google-plus">
                            <div class="divider divider"></div>
                            <i class="fa fa-google-plus size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">575</p>
                                    <p class="text-muted">Friends</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Circles</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-3">
                    <section class="panel panel-box">
                        <div class="panel-top bg-linkedin">
                            <div class="divider divider"></div>
                            <i class="fa fa-linkedin size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">575</p>
                                    <p class="text-muted">Connections</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Following</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>


          
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-danger">
                            <i class="fa fa-film"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">39</p>
                            <p class="text-muted">Amazing Films</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-warning">
                            <i class="fa fa-camera"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">63</p>
                            <p class="text-muted">Wonderful Photos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-success">
                            <i class="fa fa-bookmark-o"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">55</p>
                            <p class="text-muted">New Collections</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-info">
                            <i class="fa fa-check"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">34</p>
                            <p class="text-muted">Tasks Finised</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Profile Info</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>User name</label>
                                    John Doe
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                    mail@example.com
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-map-marker"></span>
                                    <label>Address</label>
                                    Street 827, Avenue 15, Nationville
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>Contact</label>
                                    (+012) 345 6789
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Nationality</label>
                                    U.S.A
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-globe"></span>
                                    <label>Website</label>
                                    http://www.example.com
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section class="md-content-section">
      <md-toolbar  class="md-accent">
        <div class="md-toolbar-tools">
          Slider
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <div data-ng-controller="flotChartCtrl">

            <div data-flot-chart
                 data-data="line1.data"
                 data-options="line1.options"
                 style="width: 100%; height: 300px;"
                    ></div>
          </div>
        </div>
      </md-content>

    </section>

</div>