.layout-login {
  background-size: cover;
  background-image: url('../images/login/alexandre-godreau-431553-unsplash.jpg');
  background-repeat: no-repeat;
  position: relative;
  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(theme-color('dark'), .5);
    z-index: -1;
    pointer-events: none;
  }

  &__form {
    padding: 2rem;
    position: relative;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    &__form {
      min-width: calc(320px + 3rem * 2);
      padding: 3rem;
    }
  }
}