

.task-list .view {
  display: block;
}

.task-list .edit {
  display: none;
}

.task-list li.editing .view {
  display: none;
}

.task-list li.editing .edit {
  display: block;
}

.add-task a.submit-button {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #999;
}

label {
  font-weight: normal;
}

.filters {
  margin: 15px 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #f3f3f3;
  outline:none;
}

.task-list .view {
  position: relative;
  margin-bottom: 10px;
  padding: 0 12px 0 40px;
  @include border-radius(0px);
  background-color: #fff;
}

.task-list .view:hover .glyphicon-pencil, .task-list .view:hover .glyphicon-remove {
  display: block;
}

.task-list .view input[type="checkbox"] {
  position: absolute;
  top: 11px;
  left: 16px;
}

.task-list .view label {
  line-height: 20px;
  margin: 0;
  width: 100%;
  padding: 12px 0 12px;
  margin-left:10px;
}

.task-list .view .glyphicon-pencil, .task-list .view .glyphicon-remove {
  display: none;
  position: absolute;
  top: 14px;
  color: #999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.task-list .view .glyphicon-pencil:hover, .task-list .view .glyphicon-remove:hover {
  cursor: pointer;
  color: #333;
  @include transform(scale(1.3));
}

.task-list .view .glyphicon-pencil {
  right: 40px;
}

.task-list .view .glyphicon-remove {
  right: 16px;
}

.task-list .completed .view label {
  color: #999;
  text-decoration: line-through;
}

.task-list input.edit {
  margin-bottom: 10px;
  height: 44px;
  padding: 6px 12px 6px 40px;
}

.task-footer {
  margin: 15px 0;
  border-top: 4px double #e2e2e2;
  padding: 12px;
}

.task-footer .list-inline > li {
  float: left;
  width: 30%
}

.task-footer .list-inline > li.first-item {
  width: 40%
}

.task-footer .clear-completed {
  color: #999;
  @include border-radius(0px);
  -webkit-transition: color, 0.2s ease-in-out;
  -moz-transition: color, 0.2s ease-in-out;
  -o-transition: color, 0.2s ease-in-out;
  transition: color, 0.2s ease-in-out;
}

.task-footer .clear-completed:hover {
  cursor: pointer;
  color: #767676;
}

.tips h3 {
  margin-top: 0;
}

/*
* Material design
*/

.task-list .view md-checkbox {
  position: absolute;
  top: 11px;
  left: 16px;
  margin:0px;
}

.task-footer md-checkbox {
  margin-top:0px;
}