// @material/elevation
@use '@material/elevation/mixins' as mdc-elevation-mixins;

.accordion {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 1.5rem;

  &__item {
    position: relative;
    display: block;
    
    &:not(:last-child) {
      margin-bottom: -$list-group-border-width;
      border-bottom: $list-group-border-width solid $list-group-border-color;
    }

    &:first-child {
      @include border-top-radius($list-group-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($list-group-border-radius);
    }
  }
  &__toggle {
    padding: $list-group-item-padding-y 1rem $list-group-item-padding-y $list-group-item-padding-x;
    display: flex;
    align-items: center;
    width: 100%;
    color: $body-color;
    font-weight: 500;
  }
  &__toggle-icon {
    transform: rotate(0);
  }
  &__item.open &__toggle-icon {
    transform: rotate(-180deg);
  }

  &__menu-link {
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba($body-color, .7);
    
    &:not(:last-child) {
      margin-bottom: -$list-group-border-width;
      border-bottom: $list-group-border-width solid $list-group-border-color;
    }

    @include hover-focus {
      z-index: 1;
    }

    padding: 0.5rem 1rem 0.5rem 1.5rem;
    
    &.active {
      color: $body-color;
      font-weight: 500;
    }

    a {
      color: inherit;
    }
  }

  &--boxed {
    margin-bottom: 0;

    .accordion__item {
      background-color: $card-bg;
      background-clip: border-box;
      border: $card-border-width solid $card-border-color;
      @include border-radius($card-border-radius);
      margin-bottom: 1.5rem;

      @if $enable-card-shadow {
        @include mdc-elevation-mixins.elevation(3, $card-shadow-base-color, $shadow-opacity-boost);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}