#settings .form-image-group {
  flex-wrap: wrap !important;
  margin-left: -.25rem;
  margin-right: -.25rem;

  .col {
    margin-left: 0 !important;
  }
  .col:nth-child(even) {
    margin-left: .5rem !important; 
  }
  .col:nth-child(1n+3) {
    margin-top: .5rem !important; 
  }

  .col {
    padding-left: .25rem;
    padding-right: .25rem;
    flex: 0 0 50%;
    max-width: 50%;
    &:nth-child(even) {
      margin-left: 0 !important;
    }
  }
  img {
    width: 100%;
  }
}