<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css">
</head>
<body>
    <div class="preview-body" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="web-logo">
                        <img src="images/logo-dark.svg" alt="">
                    </div>
                    <div class="web-title">
                        Forms in style.<br>
                        For all purposes and websites.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login1.html">
                        <img src="img/form1.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login2.html">
                        <img src="img/form2.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login3.html">
                        <img src="img/form3.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login4.html">
                        <img src="img/form4.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login5.html">
                        <img src="img/form5.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login6.html">
                        <img src="img/form6.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login7.html">
                        <img src="img/form7.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login8.html">
                        <img src="img/form8.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login9.html">
                        <img src="img/form9.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login10.html">
                        <img src="img/form10.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login11.html">
                        <img src="img/form11.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login12.html">
                        <img src="img/form12.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login13.html">
                        <img src="img/form13.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login14.html">
                        <img src="img/form14.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login15.html">
                        <img src="img/form15.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="profile1.html">
                        <img src="img/form15-p.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login16.html">
                        <img src="img/form16.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login17.html">
                        <img src="img/form17.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login18.html">
                        <img src="img/form18.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login19.html">
                        <img src="img/form19.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login20.html">
                        <img src="img/form20.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login21.html">
                        <img src="img/form21.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login22.html">
                        <img src="img/form22.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="job-app1.html">
                        <img src="img/form23.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="job-app2.html">
                        <img src="img/form24.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="payment1.html">
                        <img src="img/form25.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="contact1.html">
                        <img src="img/form26.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>