<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme15.css">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>Get more things done with Loggin platform.</h3>
                    <p>Access to the most powerfull tool in the entire design and web industry.<br><br>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content form-sm">
                    <div class="form-items">
                        <h3 class="form-title">Complete the form</h3>
                        <form>
                            <div class="form-group">
                                <label>Personal Information</label>
                                <input type="text" class="form-control" name="name" placeholder="Full Name" required>
                                <input type="email" class="form-control" name="email" placeholder="E-mail Address" required>
                            </div>
                            <div class="form-group">
                                <label>Education</label>
                                <div class="custom-options">
                                    <input type="radio" id="rad1" name="rad"><label for="rad1">Master Degree</label>
                                    <input type="radio" id="rad2" name="rad"><label for="rad2">Bachelor Degree</label>
                                    <input type="radio" id="rad3" name="rad"><label for="rad3">Diploma</label>
                                    <input type="radio" id="rad4" name="rad"><label for="rad4">Other</label>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="School Name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Graduation date">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tell us about you in short</label>
                                <textarea class="form-control"></textarea>
                            </div>
                            <div class="form-button text-right">
                                    <button type="button" class="btn btn-light">Cancel</button><button id="submit" type="submit" class="ibtn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>