
ul.team {

  display: inline-block;
  padding-left: 0;

  li {
    display: inline-block;
    width: 100%;
    list-style: none;
    line-height: 30px;
    margin-bottom: 9px;

    img {
      float: left;
    }

    span {
      float: left;
      margin-left: 20px;

      p {
        margin-bottom: 0;
      }
    }

    .label {
      float: right;
    }

  }
}