/*-------------------------------------------
  -- Blockquote
-------------------------------------------*/
blockquote {
  font-size: 18px;
  position: relative;

  background-size: contain;
  background-image: url("../../assets/svg/bubble.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-bottom: 60px;

  [class*="ts-circle"] {
    box-shadow: var(--bs-lg);
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
  }

  figure {
    padding-top: 15px;
    display: inline-block;
    position: relative;
    aside {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  width='52' height='62'%3E%3cpath fill='var(--color-primary-svg)' d='M51 29.1c5.8 16.5-7.4 33-23.7 32.6 -2.5 0-4.9-0.3-7.2-1 -9.2-2.5-16.5-9.8-19-19C0.4 39.5 0 37 0 34.5 0 21.7 4.9 6.1 18.1 1.1 32.9-4.6 44.4 12.7 49.3 24 50 25.7 50.5 27.4 51 29.1z'/%3E%3c/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      height: 62px;
      position: absolute;
      width: 52px;
      right: -10px;
      z-index: 2;
      i {
        color: var(--color-white);
        left: 17px;
        top: 25px;
        position: absolute;
      }
      svg {
        fill: var(--color-primary);
      }
    }
  }

  p {
    padding-left: 40px;
    padding-right: 40px;
  }

  h4 {
    margin-bottom: 5px;
  }
  h6 {
    opacity: .5;
  }

}
.blockquote-footer {
  color: inherit;
  &:before {
    display: none;
  }
}

.ts-carousel-blockquote {
  .owl-item {
    figure, p, .blockquote-footer {
      opacity: 0;
      transition: .6s ease;
      transform: translateY(10px);
    }
    &.active {
      figure, p, .blockquote-footer {
        opacity: 1;
        transform: translateY(0px);
      }
      p {
        transition-delay: .1s;
      }
      .blockquote-footer {
        transition-delay: .2s;
      }
    }
  }
}