/*-------------------------------------------
  -- Block
-------------------------------------------*/
.ts-block {
  padding-bottom: 80px;
  padding-bottom: 100px ?if media (min-width: 992px) and (max-width: 1199px);
  padding-bottom: 130px ?if media (min-width: 1200px);
  padding-top: 80px;
  padding-top: 100px ?if media (min-width: 992px) and (max-width: 1199px);
  padding-top: 130px ?if media (min-width: 1200px);

  position: relative;

}

.ts-block-inside {
  padding: 20px;
  padding: 40px ?if media (min-width: 576px) and (max-width: 991px);
  padding: 60px ?if media (min-width: 992px);

  position: relative;
}

section {
  position: relative;
}