/*-------------------------------------------
  -- Circle
-------------------------------------------*/
.ts-circle__sm {
  border-radius: var(--br-circle);
  display: inline-block;
  height: 70px;
  flex: 0 0 70px;
  overflow: hidden;
  width: 70px;
}
.ts-circle__md {
  border-radius: var(--br-circle);
  display: inline-block;
  height: 100px;
  flex: 0 0 100px;
  overflow: hidden;
  width: 100px;
}
.ts-circle__lg {
  border-radius: var(--br-circle);
  display: inline-block;
  height: 130px;
  flex: 0 0 130px;
  overflow: hidden;
  width: 130px;
}
.ts-circle__xl {
  border-radius: var(--br-circle);
  display: inline-block;
  height: 160px;
  flex: 0 0 160px;
  overflow: hidden;
  width: 160px;
}