/*-------------------------------------------
  -- List
-------------------------------------------*/
ul {
  line-height: 40px;
  &.ts-list-divided {
    li {
      border-bottom: 1px solid var(--color-grey-light);
      padding-bottom: 5px;
      padding-top: 5px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}