.slider-featured {
  position: relative;
  .owl-nav {
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      width: 46px;
      height: 46px;
      margin-top: -23px;
      display: inline-block;
      background: $theme-bg-dark;
      border-radius: 46px;
      text-align: center;
      padding: 0;
      i {
        line-height: 46px;

      }
    }
    .owl-prev {
      left: 0;
      margin-left: -23px;
    }
    .owl-next {
      right: 0;
      margin-right: -23px;
    }
  }
  img {
    width: 100%;
  }
}

.wrapper-slider-featured {
  position: relative;
}

.custom-navigation {
  a {
    position: absolute;
    top: 50%;
    width: 46px;
    height: 46px;
    margin-top: -23px;
    display: inline-block;
    background: $theme-bg-dark;
    border-radius: 46px;
    line-height: 46px;
    text-align: center;
  }
  a.custom-left {
    left: 0;
    margin-left: -23px;
  }
  a.custom-right {
    right: 0;
    margin-right: -23px;
    transform: rotate(180deg);
  }
}

.wrapper-featured-contents {
  position: relative;
  h2 {
    margin-top: 0;
    margin-bottom: 20px !important;
  }
  &:hover {
    .btn-slider {
      //bottom: 0;
      opacity: 1;
      visibility: visible;
      //transform: rotateX(0deg);
    }
  }
  .btn-slider {
    position: relative;
    z-index: 999;
    //bottom: -20px;
    //transform: rotateX(70deg);
    opacity: 0;
    visibility: hidden;
    //position: relative;
    display: inline-block;
    //padding-right: 70px;
    //&:after{
    //  position: absolute;
    //  font-family: FontAwesome;
    //}
    i {
      display: inline-block;
      margin-left: 30px;
      vertical-align: middle;

    }
  }
  .wrapper-button {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -24px auto 0;
  }
  .wrapper-location {
    ///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+28,000000+100&0+0,0.65+100 */
    //background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.18) 28%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.18) 28%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.18) 28%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#a6000000', GradientType=0); /* IE6-9 */

    padding: 40px 21px 21px;
    position: absolute;
    z-index: 9999;
    left: 0;
    bottom: 0;
    color: #ffffff;
    width: 100%;
    text-align: left;
    h3 {
      color: #ffffff;
      font-size: 18px;
      margin-top: 0;
    }
    p.featured-location {

      margin-bottom: 0;
      @extend .montserrat;
      font-size: 16px;
      color: #d9d9d9;
      //padding-left: 17px;
      position: relative;
      &:before {
        font-family: FontAwesome;
        content: "\f041";
        margin-right: 10px;
        //position: absolute;
        //left: 0;
      }
    }
  }
}

.related-project-single {
  position: relative;
  img {
    width: 100%;
  }
}

.featured-section {
  padding-bottom: 120px;
}

.featured-section-var2 {
  overflow: hidden;
  img {
    max-width: 100%;
  }
  .wrapper-left-tabs, .wrapper-tabs-large {
    width: 50%;
    height: 525px;
    float: left;
  }
  .wrapper-slider-right {
    padding: 0px 15px;
  }

  .wrapper-left-tabs {
    overflow-y: auto;
    ul {
      padding: 0 0 0 15px;
      //padding: 0;
      margin-bottom: 0;
    }
    li {
      text-align: left;
      list-style: none;
      outline: none;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: all .2s ease-in-out;
      .wrapper-inner-single-feature {
        padding: 13px 15px;
        &:hover {
          @extend .theme-box-shadow;
          transition: all .2s ease-in-out;
        }
      }
    }
    .ui-tabs-active {
      .wrapper-inner-single-feature {
        @extend .theme-box-shadow;

      }
    }
    a {
      outline: none;
      display: flex;
      align-items: center;
    }
    .image-wrapper_tabs {
      width: 36%;

    }

    .text-wrapper {
      padding-left: 27px;
      width: 64%;
      h3 {
        font-weight: 700;
        font-size: 18px;
        color: $theme-bg-dark;
        margin-top: 0;
        line-height: 24px;
      }
      p {
        @extend .montserrat;
        font-size: 16px;
        line-height: 21px;
        color: $light-gray-text;
        margin-bottom: 0;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}

.wrapper-tab-contents {
  position: relative;
  overflow: hidden;
  img {
    transform: scale(1);
    transition: all .3s ease-in-out;
  }
  .image-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;;
    background-color: rgba(26, 26, 26, 0);
    transition: all .2s ease-in-out;
  }
  &:hover {
    .button-wrapper {
      opacity: 1;
    }
    .image-overlay {
      background-color: rgba(26, 26, 26, .5);
    }
    img {
      transform: scale(1.1);
    }
  }
  .button-wrapper {
    transition: all .2s ease-in-out;
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -24px auto 0;
    text-align: center;
    z-index: 999;

  }
  a {

  }
}

.wrapper-left-tabs::-webkit-scrollbar {
  width: .5em;
}

.wrapper-left-tabs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

.wrapper-left-tabs::-webkit-scrollbar-thumb {
  background-color: $theme-bg-dark;
  outline: 1px solid slategrey;
}

.left-arrow-featured, .right-arrow-featured {
  background: url("../images/icons/arrow.svg") center no-repeat;
  height: 46px;
  width: 46px;
  display: inline-block;
  transition: .2s all ease-in-out;
  &:hover {
    opacity: .8;
  }
}

.left-arrow-featured {
  transform: rotate(180deg);
}