.poppins {
  font-family: 'Poppins', sans-serif;
}

.poppins-bold {
  @extend .poppins;
  font-weight: 700;
}

.poppins-semibold {
  @extend .poppins;
  font-weight: 600;
}

.poppins-medium {
  @extend .poppins;
  font-weight: 500;
}

.poppins-regular {
  @extend .poppins;
  font-weight: 400;
}

.poppins-light {
  @extend .poppins;
  font-weight: 300;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.montserrat-regular {
  @extend .montserrat;
  font-weight: 400;
}

.montserrat-bold {
  @extend .montserrat;
  font-weight: 700;
}

.bg-light-gray {
  background: #f5f5f5;
}

.theme-box-shadow {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(237, 237, 237, 1);
  -moz-box-shadow: 0px 0px 15px 2px rgba(237, 237, 237, 1);
  box-shadow: 0px 0px 15px 2px rgba(237, 237, 237, 1);
}

.theme-box-shadow-hover {
  &:hover {
    -webkit-box-shadow: 0px 0px 15px 2px rgb(179, 179, 179);
    -moz-box-shadow: 0px 0px 15px 2px rgb(179, 179, 179);
    box-shadow: 0px 0px 15px 2px rgb(179, 179, 179);
  }
}

$theme-yellow: #ffd800;
$theme-yellow-dark: #f5b800;
$light-gray: #989898;
$light-gray-text: #808080;
$theme-bg-dark: #1a1a1a;
$footer-text: #b8b8b8;
$theme-bg-black: #121212;