/************************************
10 - Animations
*************************************/

@-webkit-keyframes fade-up-enter {
  0% {
    opacity: 0;
    @include transform(translateY(20px));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@-moz-keyframes fade-up-enter {
  0% {
    opacity: 0;
    @include transform(translateY(20px));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0px));
  }
}

@-o-keyframes fade-up-enter {
  0% {
    opacity: 0;
    @include transform(translateY(20px));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0px));
  }
}

@keyframes fade-up-enter {
  0% {
    opacity: 0;
    @include transform(translateY(20px));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0px));
  }
}

@-webkit-keyframes fade-up-leave {
  0% {
    opacity: 1;
    @include transform(translateY(0px));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-20px));
  }
}

@-moz-keyframes fade-up-leave {
  0% {
    opacity: 1;
    @include transform(translateY(0px));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-20px));
  }
}

@-o-keyframes fade-up-leave {
  0% {
    opacity: 1;
    @include transform(translateY(0px));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-20px));
  }
}

@keyframes fade-up-leave {
  0% {
    opacity: 1;
    @include transform(translateY(0px));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-20px));
  }
}

.animate-fade-up.ng-enter {
  @include animation(0.35s fade-up-enter);
}

@-webkit-keyframes animate-flip-y-enter {
  0% {
    @include transform(perspective(3000px) rotateY(90deg));
    opacity: 0;
  }
  100% {
    @include transform(perspective(3000px) rotateY(0deg));
    opacity: 1;
  }
}

@-moz-keyframes animate-flip-y-enter {
  0% {
    @include transform(perspective(3000px) rotateY(90deg));
    opacity: 0;
  }
  100% {
    @include transform(perspective(3000px) rotateY(0deg));
    opacity: 1;
  }
}

@-o-keyframes animate-flip-y-enter {
  0% {
    @include transform(perspective(3000px) rotateY(90deg));
    opacity: 0;
  }
  100% {
    @include transform(perspective(3000px) rotateY(0deg));
    opacity: 1;
  }
}

@keyframes animate-flip-y-enter {
  0% {
    @include transform(perspective(3000px) rotateY(90deg));
    opacity: 0;
  }
  100% {
    @include transform(perspective(3000px) rotateY(0deg));
    opacity: 1;
  }
}

@-webkit-keyframes animate-flip-y-leave {
  0% {
    @include transform(perspective(3000px) rotateY(0deg));
    opacity: 1;
  }
  100% {
    @include transform(perspective(3000px) rotateY(-90deg));
    opacity: 0;
  }
}

@-moz-keyframes animate-flip-y-leave {
  0% {
    @include transform(perspective(3000px) rotateY(0deg));
    opacity: 1;
  }
  100% {
    @include transform(perspective(3000px) rotateY(-90deg));
    opacity: 0;
  }
}

@-o-keyframes animate-flip-y-leave {
  0% {
    @include transform(perspective(3000px) rotateY(0deg));
    opacity: 1;
  }
  100% {
    @include transform(perspective(3000px) rotateY(-90deg));
    opacity: 0;
  }
}

@keyframes animate-flip-y-leave {
  0% {
    @include transform(perspective(3000px) rotateY(0deg));
    opacity: 1;
  }
  100% {
    @include transform(perspective(3000px) rotateY(-90deg));
    opacity: 0;
  }
}

.animate-flip-y.ng-enter {
  @include animation(0.5s animate-flip-y-enter);
}

.animate-flip-y.ng-leave {
  @include animation(0.5s animate-flip-y-leave);
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@-moz-keyframes slideInDown {
  0% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@-o-keyframes slideInDown {
  0% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@-webkit-keyframes slideOutUp {
  0% {
    @include transform(translateY(0));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }
}

@-moz-keyframes slideOutUp {
  0% {
    @include transform(translateY(0));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }
}

@-o-keyframes slideOutUp {
  0% {
    @include transform(translateY(0));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }
}

@keyframes slideOutUp {
  0% {
    @include transform(translateY(0));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }
}

.animate-vertical-slide.ng-hide-add {
  @include animation(0.35s slideOutUp ease-in-out);
}

.animate-vertical-slide.ng-hide-remove {
  @include animation(0.35s 0.35s slideInDown ease-in-out);
}

/************************************
18 - Ajax loading
*************************************/

.page-loading-overlay {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 1;
  /* visibility: hidden; */
}

.page-loading-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1000;
  -webkit-perspective: 10000;
  -moz-perspective: 10000;
  perspective: 10000;
  -webkit-perspective: 10000px;
  -moz-perspective: 10000px;
  perspective: 10000px;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.page-loading-overlay.loaded, .loader.loaded, .load_circle_wrapper.loaded {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
}

.big {
  height: 16px;
  margin: 8px 0 0 0;
}

/*
* Loading circle
*/

.load_circle_wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  z-index: 1002;
}

/**********************
6 - Loading animations
***********************/

.loading_spinner {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  
  md-progress-circular {
    margin:auto;
  }
}

$size: 0.5em;

.loading {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: $size;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 5px solid transparent;
  border-top-color: $color--primary;
  border-bottom-color: $color--primary;
  border-radius: 50%;
}

.outer {
  @include animation(spin 1s infinite);
}

.inner {

  @include animation(spin 1s infinite);
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotateZ(360deg);
  }
}

@-o-keyframes spin {
  100% {
    -moz-transform: rotateZ(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

/*
* Material design
*/

md-progress-circular {
  margin:auto;
}