<div class="page" data-ng-controller="jqvmapCtrl">

  <section class="md-content-section">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        World map
      </div>
    </md-toolbar>

    <md-content>
      <div class="md-content__body">
        <div class="ui-map" ui-jqvmap options="worldMap"></div>
      </div>
    </md-content>

  </section>


    <div class="row">
        <div class="col-md-6">
          <section class="md-content-section">
            <md-toolbar class="md-accent">
              <div class="md-toolbar-tools">
                USA Map
              </div>
            </md-toolbar>

            <md-content>
              <div class="md-content__body">
                <div class="ui-map" ui-jqvmap options="USAMap"></div>
              </div>
            </md-content>

          </section>

        </div>
        <div class="col-md-6">


          <section class="md-content-section">
            <md-toolbar class="md-accent">
              <div class="md-toolbar-tools">
                Europe Map
              </div>
            </md-toolbar>

            <md-content>
              <div class="md-content__body">
                <div class="ui-map" ui-jqvmap options="europeMap"></div>
              </div>
            </md-content>

          </section>
        </div>
    </div>

</div>