/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #2e2f30, #0d0d0d);
}
::selection {
  color: #fff;
  background: #2e2f30;
}
.wrapper {
  max-width: 405px;
  padding: 28px 0 30px;
  margin: 50px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
h3 {
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
}
.head-section {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
  gap: 2rem;
}
#edit-btns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.task-input {
  height: 52px;
  padding: 0 0;
  position: relative;
}
.task-input img {
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}

.task-input input:focus,
.task-input input.active {
  padding-left: 52px;
  border: 2px solid rgb(162, 64, 64);
}
.task-input input::placeholder {
  color: #bfbfbf;
}
.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}
.filters span:first-child {
  margin-left: 0;
}
.filters span.active {
  color: rgb(162, 64, 64);
}
.btn {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  transition: transform 0.25s ease;
}
.controls .clear-btn {
  opacity: 0.6;
  pointer-events: none;
  background: linear-gradient(135deg, rgb(162, 64, 64) 0%, rgb(49, 5, 5) 100%);
}
.cancel-btn {
  display: none;
  background: linear-gradient(
    135deg,
    rgb(184, 15, 15) 0%,
    rgb(138, 14, 14) 100%
  );
}
.update-btn {
  display: none;
  background: linear-gradient(
    135deg,
    rgb(15, 60, 184) 0%,
    rgb(6, 20, 101) 100%
  );
}
.clear-btn.active {
  opacity: 0.9;
  pointer-events: auto;
}
.btn:active {
  transform: scale(0.93);
}
.task-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
#no-task {
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.task-box.overflow {
  overflow-y: auto;
  max-height: 200px;
}
.task-box::-webkit-scrollbar {
  width: 5px;
}
.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}
.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-box .task label {
  display: flex;
  align-items: flex-start;
}
.task label input {
  margin-top: 7px;
  accent-color: rgb(162, 64, 64);
}
.task label p {
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task label p.checked {
  text-decoration: line-through;
}
.task-box .settings {
  position: relative;
}
.settings :where(i, li) {
  cursor: pointer;
}
.settings .task-menu {
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}
.task-box .task:last-child .task-menu {
  bottom: 0;
  transform-origin: bottom right;
}
.task-box .task:first-child .task-menu {
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show {
  transform: scale(1);
}
.task-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}
.task-menu li:last-child {
  margin-bottom: 0;
}
.settings li:hover {
  background: #f5f5f5;
}
.settings li i {
  padding-right: 8px;
}
footer {
  color: rgb(162, 64, 64);
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  width: 250px;
  margin: auto;
  border-radius: 16px;
  transform: scale(1);
  transition: transform 0.2s ease;
  cursor: pointer;
}
footer:hover {
  transform: scale(1.1);
}

@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span {
    margin: 0 5px;
  }
  .task-input {
    padding: 0 20px;
  }
  .controls {
    padding: 18px 20px;
  }
  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input {
    margin-top: 4px;
  }
}
