<ul class="sidebar-menu" id="components_menu">
  <li class="sidebar-menu-item{% if slug === 'ui-buttons' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-buttons.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">mouse</i>
      <span class="sidebar-menu-text">Buttons</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-alerts' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-alerts.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">notifications</i>
      <span class="sidebar-menu-text">Alerts</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-avatars' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-avatars.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person</i>
      <span class="sidebar-menu-text">Avatars</span>
      <span class="badge badge-primary ml-auto">NEW</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-modals' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-modals.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">aspect_ratio</i>
      <span class="sidebar-menu-text">Modals</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-charts' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-charts.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">pie_chart_outlined</i>
      <span class="sidebar-menu-text">Charts</span>
      <span class="badge badge-warning ml-auto">PRO</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-icons' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-icons.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">brush</i>
      <span class="sidebar-menu-text">Icons</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-forms' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-forms.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">text_format</i>
      <span class="sidebar-menu-text">Forms</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-range-sliders' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-range-sliders.html">
      <!-- tune or low_priority or linear_scale or space_bar or swap_calls -->
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">tune</i>
      <span class="sidebar-menu-text">Range Sliders</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-datetime' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-datetime.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">event_available</i>
      <span class="sidebar-menu-text">Time &amp; Date</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-tables' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-tables.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dns</i>
      <span class="sidebar-menu-text">Tables</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-tabs' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-tabs.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">tab</i>
      <span class="sidebar-menu-text">Tabs</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-loaders' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-loaders.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">refresh</i>
      <span class="sidebar-menu-text">Loaders</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-drag' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-drag.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">control_point</i>
      <span class="sidebar-menu-text">Drag &amp; Drop</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-pagination' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-pagination.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">last_page</i>
      <span class="sidebar-menu-text">Pagination</span>
    </a>
  </li>
  <li class="sidebar-menu-item{% if slug === 'ui-vector-maps' %} active{% endif %}">
    <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-vector-maps.html">
      <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">location_on</i>
      <span class="sidebar-menu-text">Vector Maps</span>
    </a>
  </li>
</ul>