.bottomSheet {
  /* Temporary fix until md-icon is working, DO NOT USE! */

  .md-button {
    text-transform: uppercase !important;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
  }
}
.bottomsheet--grid md-icon {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.bottomsheet--list .md-inline-list-icon-label {
  padding-left: 10px;
  display: inline-block;
  margin-top: -5px;
  height: 24px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
}

md-bottom-sheet.md-grid md-item p.md-grid-text {
  font-size:14px;
}

md-bottom-sheet.md-grid {
}

md-bottom-sheet.md-grid md-list-item .md-grid-item-content {
  padding: 6px;
}