<div class="page page-grid">

<section class="md-content-section">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      Material design flex grid system fluid
    </div>
  </md-toolbar>

  <md-content>
    <div class="md-content__body">
      <p>
        A layout child's flex attribute can be given an integer value from 0-100. The element will stretch to the
        percentage of available space matching the value.
      </p>

      <p>
        The flex attribute value is restricted to 33, 66, and multiples of five.
        For example: flex="5", flex="20", "flex="33", flex="50", flex="66", flex="75", ....
      </p>

      <div layout="row" layout-wrap>
        <div flex="33" class="widget-container-empty bg-primary">
          [flex="33"]
        </div>
        <div flex="55" class="widget-container-empty bg-info">
          [flex="55"]
        </div>
        <div flex class="widget-container-empty bg-danger">
          [flex]
        </div>
        <div flex="60" class="widget-container-empty bg-warning">
          [flex="60"]
        </div>
        <div flex="40" class="widget-container-empty bg-success">
          [flex="40"]
        </div>
        <div flex="20" class="widget-container-empty bg-info">
          [flex="20"]
        </div>
        <div flex="30" class="widget-container-empty bg-danger">
          [flex="30"]
        </div>
        <div flex="50" class="widget-container-empty bg-primary">
          [flex="50"]
        </div>
      </div>
    </div>
  </md-content>

</section>

<section class="md-content-section">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      Material design flex grid system
    </div>
  </md-toolbar>

  <md-content>
    <div class="md-content__body">
      <p>
        To customize the size and position of elements in a layout, use the <span class="color-primary">flex</span>, <span
              class="color-primary">offset</span>, and <span class="color-primary">flex-order</span> attributes.
      </p>

      <div layout="row">
        <div flex class="widget-container-empty bg-primary">
          [flex]
        </div>
        <div flex class="widget-container-empty bg-info">
          [flex]
        </div>
        <div flex hide-sm class="widget-container-empty bg-success">
          [flex hides on small]
        </div>
      </div>
    </div>
  </md-content>

</section>

<section class="md-content-section">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      Bootstrap 12 Grid setup
    </div>
  </md-toolbar>

  <md-content>
    <div class="md-content__body">
      <div class="grid-structure">
        <div class="row">
          <div class="col-md-12">
            <div class="widget-container">
              col-md-12
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11">
            <div class="widget-container">
              col-md-11
            </div>
          </div>
          <div class="col-md-1">
            <div class="widget-container">
              col-md-1
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="widget-container">
              col-md-10
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget-container">
              col-md-2
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="widget-container">
              col-md-9
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget-container">
              col-md-3
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="widget-container">
              col-md-8
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget-container">
              col-md-4
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="widget-container">
              col-md-7
            </div>
          </div>
          <div class="col-md-5">
            <div class="widget-container">
              col-md-5
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="widget-container">
              col-md-6
            </div>
          </div>
          <div class="col-md-6">
            <div class="widget-container">
              col-md-6
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="widget-container">
              col-md-5
            </div>
          </div>
          <div class="col-md-7">
            <div class="widget-container">
              col-md-7
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="widget-container">
              col-md-4
            </div>
          </div>
          <div class="col-md-8">
            <div class="widget-container">
              col-md-8
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="widget-container">
              col-md-3
            </div>
          </div>
          <div class="col-md-9">
            <div class="widget-container">
              col-md-9
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="widget-container">
              col-md-2
            </div>
          </div>
          <div class="col-md-10">
            <div class="widget-container">
              col-md-10
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="widget-container">
              col-md-1
            </div>
          </div>
          <div class="col-md-11">
            <div class="widget-container">
              col-md-11
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="widget-container">
              col-md-2
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget-container">
              col-md-3
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget-container">
              col-md-4
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget-container">
              col-md-2
            </div>
          </div>
          <div class="col-md-1">
            <div class="widget-container">
              col-md-1
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-content>

</section>


</div>