<div class="page">

  <!-- Bottom sheet -->

  <section class="md-content-section">

    <div class="row">
      <div class="col-md-5">
        <h2>Bottom sheet</h2>

        <div>
          <p>
            You can show a bottom sheet using the service <code>$mdBottomSheet</code>
          </p>

          <p>
            Bottom sheet can be dismissed with the service or a swipe down.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <md-content>
          <div class="md-content__body">
            <div module="app.material">
              <div ng-controller="BottomSheetExample">
                <p class="text-center" style="padding-left: 20px;">
                  Click to open a bottom sheet.
                </p>

                <div class="bottom-sheet-demo inset" layout="" layout-align="center" layout-align="center">
                  <md-button class="btn-width-medium md-primary md-raised md-button md-default-theme"
                             ng-click="showListBottomSheet($event)">
                    Show as List
                  </md-button>
                  <div class="space"></div>
                  <div class="gap"></div>
                  <md-button class="btn-width-medium md-primary md-raised md-button md-default-theme"
                             ng-click="showGridBottomSheet($event)">
                    Show as Grid
                  </md-button>
                </div>
                <br/>
                <b layout="row" layout-align="center center" layout-margin>
                  {{alert}}
                </b>
              </div>
            </div>
          </div>
        </md-content>
      </div>
    </div>

  </section>

  <br/>

  <hr/>

  <br/>

  <!-- Bottom sheet -->

  <!-- Chips -->
  <section class="md-content-section">

    <div class="">
      <h2>Chips</h2>

      <div>
        <p>
          Chips work like tags that you can add to any text field. The are displayed with a nice style and can be inserted or removed.
        </p>

        <p>
          You can use these as a normal element using the directive <md-chips>md-tooltip</md-chips>
        </p>
      </div>
    </div>
    <br/>
    <div class="">
      <md-content>
        <div class="md-content__body">
          <div class="chipsdemo">

            <div ng-controller="BasicChipsCtrl as ctrl" layout="column">
              <md-content class="md-padding" layout="column">
                <h2 class="md-title">Use a custom chip template.</h2>
                <md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly">
                  <md-chip-template>
                    <strong>{{$chip}}</strong>
                    <em>(fruit)</em>
                  </md-chip-template>
                </md-chips>
                <br/>

                <h2 class="md-title">Use the default chip template.</h2>
                <md-chips ng-model="ctrl.fruitNames" readonly="ctrl.readonly"></md-chips>
                <br/>

                <h2 class="md-title">Use Placeholders and override hint texts.</h2>
                <md-chips
                        ng-model="ctrl.tags"
                        readonly="ctrl.readonly"
                        placeholder="Enter a tag"
                        delete-button-label="Remove Tag"
                        delete-hint="Press delete to remove tag"
                        secondary-placeholder="+Tag"></md-chips>
                <br/>

                <h2 class="md-title">Display with custom template.</h2>
                <md-chips class="custom-chips" ng-model="ctrl.vegObjs" readonly="ctrl.readonly"
                          md-on-append="ctrl.newVeg($chip)">
                  <md-chip-template>
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
                  </md-chip-template>
                  <button md-chip-remove class="md-primary vegetablechip">
                    <md-icon md-svg-icon="md-close"></md-icon>
                  </button>
                </md-chips>
                <br/>
                <md-checkbox ng-model="ctrl.readonly">Readonly</md-checkbox>
              </md-content>
            </div>

          </div>
        </div>
      </md-content>
    </div>

  </section>
  <!-- end Chips -->

  <br/>

  <hr/>

  <br/>

  <!-- Chips -->
  <section class="md-content-section">

    <div class="">
      <h2>Contact Chips</h2>

      <div>
        <p>
          Contact Chips work like tags with contact pictures that you can add to any text field. The are displayed with a nice style and can be inserted or removed.
        </p>

        <p>
          You can use these as a normal element using the directive <md-contact-chips>md-tooltip</md-contact-chips>
        </p>
      </div>
    </div>
    <br/>
    <div class="">
      <md-content>
        <div class="md-content__body">
          <div class="chipsdemoContactChips">

            <div ng-controller="ContactChipDemoCtrl as ctrl" layout="column">
              <md-content class="md-padding autocomplete" layout="column">
                <md-contact-chips
                        ng-model="ctrl.contacts"
                        md-contacts="ctrl.querySearch($query)"
                        md-contact-name="name"
                        md-contact-image="image"
                        md-contact-email="email"
                        md-require-match
                        filter-selected="ctrl.filterSelected"
                        placeholder="To">
                </md-contact-chips>
                <md-list class="fixedRows">
                  <md-subheader class="md-no-sticky">Contacts</md-subheader>
                  <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in ctrl.allContacts"
                                ng-if="ctrl.contacts.indexOf(contact) < 0">
                    <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
                    <div class="md-list-item-text compact">
                      <h3>{{contact.name}}</h3>
                      <p>{{contact.email}}</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in ctrl.contacts">
                    <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
                    <div class="md-list-item-text compact">
                      <h3>{{contact.name}}</h3>
                      <p>{{contact.email}}</p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>

          </div>
        </div>
      </md-content>
    </div>

  </section>
  <!-- end Chips -->

  <!-- Dialog -->

  <section class="md-content-section">

    <div class="row">
      <div class="col-md-5">
        <h2>Dialog</h2>

        <div>
          <p>
            You can show a Dialog using the service <code>$mdDialog</code>
          </p>

          <p>
            Open a dialog over the app's content. Press escape or click outside to close the dialog and
            send focus back to the triggering button.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <md-content>
          <div class="md-content__body">
            <div ng-controller="DialogDemoCtrl" class="full" layout="column" layout-margin>
              <p class="inset text-center">
                Click to open a dialog
              </p>

              <div layout="" layout-align="center">
                <md-button class="btn-width-medium md-primary md-raised" ng-click="showAlert($event)">
                  Alert Dialog
                </md-button>
                <div class="space"></div>
                <div class="gap"></div>
                <md-button class="btn-width-medium md-primary md-raised" ng-click="showConfirm($event)">
                  Confirm Dialog
                </md-button>
                <div class="space"></div>
                <div class="gap"></div>
                <md-button class="btn-width-medium md-primary md-raised" ng-click="showAdvanced($event)">
                  Custom Dialog
                </md-button>
              </div>
              <br/>
              <b layout="row" layout-align="center center" layout-margin>
                {{alert}}
              </b>
            </div>
          </div>
        </md-content>
      </div>
    </div>

  </section>

  <!-- end Dialog -->

  <br/>

  <hr/>

  <br/>

  <!-- progress circular -->

  <section class="md-content-section">

    <div class="row">
      <div class="col-md-5">
        <h2>Progress bar circular</h2>

        <div>
          <p>
            You can use determined progress bars and indeterminate progress bars using the directive <code>md-progress-circular</code>
          </p>

          <p>
            For operations where the percentage of the operation completed can be determined, use a determinate
            indicator. They give users a quick sense of how long an operation will take
          </p>

          <p>
            For operations where the user is asked to wait a moment while something finishes up, and it’s not necessary
            to expose what's happening behind the scenes and how long it will take, use an indeterminate indicator
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <md-content>
          <div class="md-content__body">
            <div ng-controller="ProgressCtrl" layout="column" layout-margin style="padding:25px;">
              <h4 style="margin-top:10px">Determinate</h4>

              <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="determinate" value="{{determinateValue}}"></md-progress-circular>
              </div>
              <h4>Indeterminate</h4>

              <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
                <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
                <md-progress-circular class="md-warn md-hue-3" md-mode="indeterminate"></md-progress-circular>
                <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
              </div>
            </div>
          </div>
        </md-content>
      </div>
    </div>

  </section>

  <!-- end progress circular -->

  <br/>

  <hr/>

  <br/>

  <!-- progress linear -->

  <section class="md-content-section">

    <div class="row">
      <div class="col-md-5">
        <h2>Progress bar linear</h2>

        <div>
          <p>
            Linear progress bars are good for showing normal loading on page transitions
          </p>

          <p>
            You can include these via the directive <code>md-progress-linear</code>
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <md-content>
          <div class="md-content__body">
            <div ng-controller="ProgressLinearCtrl" layout="column" layout-margin style="padding:25px;">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
              <div class="space"></div>
              <div class="space"></div>
              <md-progress-linear class="md-warn" md-mode="buffer" value="{{determinateValue}}"
                                  md-buffer-value="{{determinateValue2}}">
              </md-progress-linear>
              <div class="space"></div>
              <div class="space"></div>
              <md-progress-linear class="md-accent" md-mode="{{mode}}"
                                  value="{{determinateValue}}"></md-progress-linear>
            </div>
          </div>
        </md-content>
      </div>
    </div>

  </section>

  <!-- end progress linear -->

  <br/>

  <hr/>

  <br/>

  <!-- Toast -->
  <section class="md-content-section">

    <div class="row">
      <div class="col-md-5">
        <h2>Toast messages</h2>

        <div>
          <p>
            Toast messages create a toast styled message inside a container defined from actions from the user. You can
            have different types of toast messages.
          </p>

          <p>
            You can assign include these messages with the service <code>$mdToast</code>.Toast can be dismissed with a
            swipe, a timer, or a button.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <md-content>
          <div class="md-content__body">
            <div id="toastcontainer" ng-controller="ToastDemoCtrl" layout-fill layout="column" class="inset">
              <div layout="row" layout-sm="column" layout-align="space-around">
                <div style="width:50px"></div>
                <md-button ng-click="showCustomToast()">
                  Show Custom
                </md-button>
                <md-button ng-click="showSimpleToast()">
                  Show Simple
                </md-button>
                <md-button class="md-raised" ng-click="showActionToast()">
                  Show With Action
                </md-button>
                <div style="width:50px"></div>
              </div>
              <div>
                <br/>
                <b>Toast Position: "{{getToastPosition()}}"</b>
                <br/>
                <md-checkbox ng-repeat="(name, isSelected) in toastPosition"
                             ng-model="toastPosition[name]">
                  {{name}}
                </md-checkbox>
                <md-button aria-label="button" class="md-primary md-fab md-fab-bottom-right">
                  <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="button" class="md-accent md-fab md-fab-top-right">
                  <md-icon md-svg-src="dist/img/icons/ic_my_location_24px.svg"></md-icon>
                </md-button>
              </div>
            </div>
          </div>
        </md-content>
      </div>
    </div>

  </section>
  <!-- Toast -->

  <br/>

  <hr/>

  <br/>

  <!-- Toolbar scroll shrink -->
  <section class="md-content-section">

    <div class="row">
      <div class="col-md-5">
        <h2>Toolbar scroll shrink</h2>

        <div>
          <p>
            Toolbar that collapses when scrolling down.
          </p>

          <p>
            You can use these as a normal toolbar using the attribute <code>md-scroll-shrink</code>
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <md-content>
          <div class="">
            <div class="messagesList">

              <div class="overflow-container">
                <div ng-controller="ToolbarShrinkDemoCtrl" layout="column" layout-fill>
                  <md-toolbar md-scroll-shrink>
                    <div class="md-toolbar-tools">
                      <h3>
                        <span>My App Title</span>
                      </h3>
                    </div>
                  </md-toolbar>
                  <md-content style="height: 300px;">
                    <md-list>
                      <md-list-item class="md-3-line" ng-repeat="item in todos">
                        <img ng-src="{{item.face}}" alt="{{item.who}}" class="face">

                        <div class="md-list-item-text">
                          <h3>{{item.what}}</h3>
                          <h4>{{item.who}}</h4>

                          <p>
                            {{item.notes}}
                          </p>
                        </div>
                        <md-divider md-inset ng-if="!$last"></md-divider>
                      </md-list-item>
                    </md-list>
                  </md-content>
                </div>
              </div>

            </div>
          </div>
        </md-content>
      </div>
    </div>

  </section>
  <!-- Toolbar scroll shrink -->

  <br/>

  <hr/>

  <br/>

  <!-- Tooltip -->
  <section class="md-content-section">

    <div class="row">
      <div class="col-md-5">
        <h2>Tooltip</h2>

        <div>
          <p>
            Tooltips can be shown when the button is hovered, focused, or touched.
          </p>

          <p>
            You can use these as a normal toolbar using the directive <code>md-tooltip</code>
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <md-content>
          <div class="md-content__body">

            <div ng-controller="TooltipDemo">
              <md-button aria-label="button" class="md-fab md-fab-top-left left md-warning" aria-label="Insert Drive">
                <md-icon md-svg-src="dist/img/icons/ic_insert_drive_file_24px.svg"
                         style="width: 24px; height: 24px;"></md-icon>
                <md-tooltip md-visible="demo.showTooltip">
                  Insert Drive
                </md-tooltip>
              </md-button>
              <md-button aria-label="button" class="md-fab md-fab-top-right right md-primary" aria-label="Photos">
                <md-icon md-svg-src="dist/img/icons/ic_photo_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                <md-tooltip>
                  Photos
                </md-tooltip>
              </md-button>
              <br/><br/><br/><br/><br/><br/>

              <p>

              <div>
                Additionally, the Tooltip's `md-visible` attribute can use data-binding to programmatically
                show/hide itself. Toggle the checkbox below...
              </div>
              </p>
              <md-checkbox ng-model="demo.showTooltip">
                Insert Drive
              </md-checkbox>
            </div>
          </div>
        </md-content>
      </div>
    </div>

  </section>
  <!-- end Tooltip -->

  <br/>

  <hr/>

  <br/>

  <!-- Toolbar -->
  <section class="md-content-section">

    <div class="row">
      <div class="col-md-5">
        <h2>Toolbar: md-warn</h2>

        <div>
          <p>
            Toolbars can have different styles. In this example the syle is <code>md-warn</code>.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <md-content>
          <div class="md-content__body">
            <md-toolbar class="md-warn">
              <div class="md-toolbar-tools">
                <span class="md-flex">Toolbar: md-warn</span>
              </div>
            </md-toolbar>
            <md-content class="md-padding" style="height: 200px;padding: 24px;">
              Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis
              conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale
              omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam
              praesent reformidans no. Sed laudem aliquam ne.
              <p>
                Facete delenit argumentum cum at. Pro rebum nostrum contentiones ad. Mel exerci tritani maiorum at, mea
                te audire phaedrum, mel et nibh aliquam. Malis causae equidem vel eu. Noster melius vis ea, duis alterum
                oporteat ea sea. Per cu vide munere fierent.
              </p>

              <p>
                Ad sea dolor accusata consequuntur. Sit facete convenire reprehendunt et. Usu cu nonumy dissentiet, mei
                choro omnes fuisset ad. Te qui docendi accusam efficiantur, doming noster prodesset eam ei. In vel posse
                movet, ut convenire referrentur eum, ceteros singulis intellegam eu sit.
              </p>

              <p>
                Sit saepe quaestio reprimique id, duo no congue nominati, cum id nobis facilisi. No est laoreet
                dissentias, idque consectetuer eam id. Clita possim assueverit cu his, solum virtute recteque et cum.
                Vel cu luptatum signiferumque, mel eu brute nostro senserit. Blandit euripidis consequat ex mei, atqui
                torquatos id cum, meliore luptatum ut usu. Cu zril perpetua gubergren pri. Accusamus rationibus
                instructior ei pro, eu nullam principes qui, reque justo omnes et quo.
              </p>

              <p>
                Sint unum eam id. At sit fastidii theophrastus, mutat senserit repudiare et has. Atqui appareat
                repudiare ad nam, et ius alii incorrupte. Alii nullam libris his ei, meis aeterno at eum. Ne aeque
                tincidunt duo. In audire malorum mel, tamquam efficiantur has te.
              </p>

              <p>
                Qui utamur tacimates quaestio ad, quod graece omnium ius ut. Pri ut vero debitis interpretaris, qui cu
                mentitum adipiscing disputationi. Voluptatum mediocritatem quo ut. Fabulas dolorem ei has, quem molestie
                persequeris et sit.
              </p>

              <p>
                Est in vivendum comprehensam conclusionemque, alia cetero iriure no usu, te cibo deterruisset pro. Ludus
                epicurei quo id, ex cum iudicabit intellegebat. Ex modo deseruisse quo, mel noster menandri sententiae
                ea, duo et tritani malorum recteque. Nullam suscipit partiendo nec id, indoctum vulputate per ex. Et has
                enim habemus tibique. Cu latine electram cum, ridens propriae intellegat eu mea.
              </p>

              <p>
                Duo at aliquid mnesarchum, nec ne impetus hendrerit. Ius id aeterno debitis atomorum, et sed feugait
                voluptua, brute tibique no vix. Eos modo esse ex, ei omittam imperdiet pro. Vel assum albucius
                incorrupte no. Vim viris prompta repudiare ne, vel ut viderer scripserit, dicant appetere argumentum mel
                ea. Eripuit feugait tincidunt pri ne, cu facilisi molestiae usu.
              </p>

              <p>
                Qui utamur tacimates quaestio ad, quod graece omnium ius ut. Pri ut vero debitis interpretaris, qui cu
                mentitum adipiscing disputationi. Voluptatum mediocritatem quo ut. Fabulas dolorem ei has, quem molestie
                persequeris et sit.
              </p>

              <p>
                Est in vivendum comprehensam conclusionemque, alia cetero iriure no usu, te cibo deterruisset pro. Ludus
                epicurei quo id, ex cum iudicabit intellegebat. Ex modo deseruisse quo, mel noster menandri sententiae
                ea, duo et tritani malorum recteque. Nullam suscipit partiendo nec id, indoctum vulputate per ex. Et has
                enim habemus tibique. Cu latine electram cum, ridens propriae intellegat eu mea.
              </p>

              <p>
                Duo at aliquid mnesarchum, nec ne impetus hendrerit. Ius id aeterno debitis atomorum, et sed feugait
                voluptua, brute tibique no vix. Eos modo esse ex, ei omittam imperdiet pro. Vel assum albucius
                incorrupte no. Vim viris prompta repudiare ne, vel ut viderer scripserit, dicant appetere argumentum mel
                ea. Eripuit feugait tincidunt pri ne, cu facilisi molestiae usu.
              </p>
            </md-content>
          </div>
        </md-content>
      </div>
    </div>

  </section>
  <!-- end Toolbar -->

  <br/>

  <hr/>

  <br/>

  <!-- Sidenav -->
  <section class="md-content-section">

    <h2>Side navigation</h2>

    <div>
      <p>
        sidenavigations include the possibility to open side menu navigations. They can be opened by default or
        controlled via a controller.You can use these as a using the directive <code>md-sidenav</code>
      </p>
    </div>
    <br/>

    <md-content>
      <div class="md-content__body">
        <div ng-controller="SidenavCtrl" layout="column">
          <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-md')">
              <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
              </md-toolbar>
              <md-content class="md-padding" ng-controller="SidenavLeftCtrl">
                <md-button aria-label="button" ng-click="close()" class="md-primary" hide-gt-md>
                  Close Sidenav Left
                </md-button>
                <p hide-md show-gt-md>
                  This sidenav is locked open on your device. To go back to the default behavior,
                  narrow your display.
                </p>
              </md-content>
            </md-sidenav>
            <md-content flex class="md-padding">
              <div layout="column" layout-fill layout-align="center center">
                <p>
                  The left sidenav will 'lock open' on a medium (>=960px wide) device.<br/> Shrink the page to see it
                  collapse.
                </p>

                <div>
                  <md-button aria-label="button" ng-click="toggleLeft()"
                             class="md-primary" hide-gt-md>
                    Toggle left
                  </md-button>
                </div>
                <div>
                  <md-button aria-label="button" ng-click="toggleRight()"
                             class="md-primary">
                    Toggle right
                  </md-button>
                </div>
              </div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
              <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
              </md-toolbar>
              <md-content ng-controller="SidenavRightCtrl" class="md-padding">
                <md-button aria-label="button" ng-click="close()" class="md-primary">
                  Close Sidenav Right
                </md-button>
              </md-content>
            </md-sidenav>
          </section>
        </div>
      </div>
    </md-content>

  </section>
  <!-- end Sidenav -->

  <br/>

  <hr/>

  <br/>

  <!-- Tabs -->
  <section class="md-content-section">

    <h2>Tabs</h2>

    <div>
      <p>
        Use the directive <code>md-tabs</code> and <code>md-tab</code> to create awesome tabs with animation when
        scrolling. You can bind the selected tab via the selected attribute on the md-tabs element.
      </p>
    </div>
    <br/>

    <md-content>
      <div class="md-content__body">
        <div class="tabsdemoDynamicTabs">

          <div ng-controller="TabsDemoCtrl" class="sample" layout="column">
            <md-tabs md-selected="selectedIndex" flex>
              <md-tab ng-repeat="tab in tabs"
                      ng-disabled="tab.disabled"
                      label="{{tab.title}}">
                <div class="demo-tab tab{{$index%4}}" layout="column" layout-align="space-around center">
                  <div ng-bind="tab.content"></div>
                  <md-button aria-label="button" class="btn-width-medium md-primary md-raised"
                             ng-click="removeTab( tab )">
                    Remove Tab
                  </md-button>
                </div>
              </md-tab>
            </md-tabs>
            <form ng-bbmit="addTab(tTitle,tContent)" layout="column" style="padding-top:20px;padding-left:20px;">
              <div layout="row" layout-sm="column" layout-margin>
                <md-input-container>
                  <label for="activeIndex">Active Index</label>
                  <input type="text" id="activeIndex" ng-model="selectedIndex" disabled>
                </md-input-container>
                <md-input-container>
                  <label for="activeTitle">Active Title</label>
                  <input type="text" id="activeTitle" ng-model="tabs[selectedIndex].title">
                </md-input-container>
              </div>
              <div layout="row" layout-sm="column" layout-margin>
                <span class="title">Add a new Tab:</span>
                <md-input-container>
                  <label for="label">Label</label>
                  <input type="text" id="label" ng-model="tTitle">
                </md-input-container>
                <md-input-container>
                  <label for="content-text">Content</label>
                  <input type="text" id="content-text" ng-model="tContent">
                </md-input-container>
                <md-button aria-label="button" class="add-tab md-primary" type="submit" style="max-height: 40px">Add
                  Tab
                </md-button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </md-content>

  </section>
  <!-- end tabs-->

  <br/>

  <hr/>

  <br/>

  <!-- Static tabs -->
  <section class="md-content-section">

    <h2>Static tabs</h2>

    <div>
      <p>
        Use the directive <code>md-tabs</code> and <code>md-tab</code> combined with <code>ng-switch</code> to create
        awesome static tabs.
      </p>
    </div>
    <br/>

    <md-content>
      <div class="md-content__body">
        <div class="tabsdemoStaticTabs">

          <div ng-controller="StaticTabsDemoCtrl" class="tabsdemoStaticTabs sample">
            <md-tabs class="md-accent" md-selected="data.selectedIndex">
              <md-tab id="tab1" aria-controls="tab1-content">
                Item One
              </md-tab>
              <md-tab id="tab2" aria-controls="tab2-content"
                      ng-disabled="data.secondLocked">
                {{data.secondLabel}}
              </md-tab>
              <md-tab id="tab3" aria-controls="tab3-content">
                Item Three
              </md-tab>
            </md-tabs>
            <ng-switch on="data.selectedIndex" class="tabpanel-container">
              <div role="tabpanel"
                   id="tab1-content"
                   aria-labelledby="tab1"
                   ng-switch-when="0"
                   md-swipe-left="next()"
                   md-swipe-right="previous()">
                View for Item #1<br/>
                data.selectedIndex = 0
              </div>
              <div role="tabpanel"
                   id="tab2-content"
                   aria-labelledby="tab2"
                   ng-switch-when="1"
                   md-swipe-left="next()"
                   md-swipe-right="previous()">
                View for {{data.secondLabel}}<br/>
                data.selectedIndex = 1
              </div>
              <div role="tabpanel"
                   id="tab3-content"
                   aria-labelledby="tab3"
                   ng-switch-when="2"
                   md-swipe-left="next()"
                   md-swipe-right="previous()">
                View for Item #3<br/>
                data.selectedIndex = 2
              </div>
            </ng-switch>
            <div class="after-tabs-area" layout="row" layout-sm="column" layout-margin layout-align="left center">
              <md-input-container>
                <label for="selectedIndex">Selected Index</label>
                <input type="number" id="selectedIndex" ng-model="data.selectedIndex">
              </md-input-container>
              <div flex></div>
              <span>Item Two: </span>
              <md-checkbox class="md-primary" ng-model="data.secondLocked" aria-label="Disabled">
                Disabled
              </md-checkbox>
            </div>
          </div>

        </div>
      </div>
    </md-content>

  </section>
  <!-- end Static tabs -->

</div>


