<div class="page" data-ng-controller="TreeDemoCtrl">

  <section class="md-content-section">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        Nested Lists
      </div>
    </md-toolbar>

    <md-content>
      <div class="md-content__body">
        <div ui-tree="options">
          <ol ui-tree-nodes ng-model="list" >
            <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
          </ol>
        </div>
      </div>
    </md-content>

  </section>


    <script type="text/ng-template" id="items_renderer.html">
        <div class="angular-ui-tree-handle">
            <span data-ng-show="item.items.length > 0">
                <a class="angular-ui-tree-icon" data-nodrag ng-click="toggle(this)">
                    <span class="angular-ui-tree-icon-collapse" ng-class="{'collapsed': collapsed, 'uncollapsed': !collapsed}"></span>
                </a>
            </span>

            {{item.title}}

            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" data-nodrag ng-click="remove(this)"><i class="fa fa-times-circle"></i></a>

            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" data-nodrag ng-click="newSubItem(this)"><i class="fa fa-plus-square"></i></a>
        </div>
        <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
            </li>
        </ol>
    </script>

</div>