<div class="page">
   
    <div class="ui-timline-container">
        <section class="ui-timeline">
            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">13 min ago</div>
                        <div class="tl-icon square-icon sm bg-info"><i class="fa fa-bug"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">Identify bugs</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">3 hours ago</div>
                        <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-envelope"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-danger">Email all customers</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">6 hours ago</div>
                        <div class="tl-icon square-icon sm bg-theme"><i class="fa fa-dropbox"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-warning">Synch Dropboxes</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">9 hours ago</div>
                        <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-google-plus"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-success">Check google contacts</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">12 hours ago</div>
                        <div class="tl-icon square-icon sm bg-facebook"><i class="fa fa-facebook"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-info">Layout facebook campaign</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-warning btn-block">Yesterday</a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">3:50 PM</div>
                        <div class="tl-icon square-icon sm bg-warning"><i class="fa fa-database"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile">Database backup task</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">8:00 PM</div>
                        <div class="tl-icon square-icon sm bg-success"><i class="fa fa-file-o"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-warning">Test uploads</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">11:25 PM</div>
                        <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-map-marker"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-success">Map functionality tests</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">13:13 AM</div>
                        <div class="tl-icon square-icon sm bg-primary"><i class="fa fa-envelope"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-info">Email synch</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">3:10 AM</div>
                        <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-power-off"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">Restart servers</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </div>

</div>