<div class="page page-general">

<div class="row" data-ng-controller="sparklineCtrl">
    <div class="col-lg-3 col-xsm-6">

        <div class="panel small-box-icon">
                <span class="box-icon bg-success">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>
            <div class="box-info">
                <p class="size-h2">25</p>
                <p class="text-muted">Arriving messages</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel small-box-icon">
                <span class="box-icon bg-info">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>
            <div class="box-info">
                <p class="size-h2">312</p>
                <p class="text-muted">Connected users</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel small-box-icon">
                <span class="box-icon bg-warning">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>
            <div class="box-info">
                <p class="size-h2">1,450</p>
                <p class="text-muted">Driving income</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel small-box-icon">
                <span class="box-icon bg-danger">
                   <span data-sparkline
                         data-spark-data="simpleChart2info.sparkData"
                         data-spark-options="simpleChart2info.sparkOptions"
                           ></span>
                </span>
            <div class="box-info">
                <p class="size-h2">562</p>
                <p class="text-muted">New customers / segment</p>
            </div>
        </div>
    </div>

</div>

    <div class="row">
        <div class="col-md-6">

            <section class="panel panel-box">
                <div class="panel-top bg-weather bg-cloudy">
                    <div class="text-left">
                        Cloudy
                    </div>
                    <div class="divider divider-xl"></div>
                    <div class="divider divider-lg"></div>
                </div>
                <div class="panel-icon bg-weather">
                    <i class="wi wi-day-cloudy"></i>
                </div>
                <div class="panel-bottom bg-reverse">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h2 color-info"><i class="wi wi-cloudy"></i></p>
                            <p class="text-muted">Tuesday</p>
                        </li>
                        <li>
                            <p class="size-h2 color-warning"><i class="wi wi-day-thunderstorm"></i></p>
                            <p class="text-muted">Wednesday</p>
                        </li>
                        <li>
                            <p class="size-h2 color-danger"><i class="wi wi-day-snow"></i></p>
                            <p class="text-muted">Thursday</p>
                        </li>
                        <li>
                            <p class="size-h2 color-success"><i class="wi wi-day-sunny"></i></p>
                            <p class="text-muted">Friday</p>
                        </li>                        
                    </ul>
                </div>
            </section>

            <!-- profile panel -->
            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-info">
                    <div class="overlay_prof"></div>
                    <div class="profile_info">
                        <h3>John Doe</h3>
                        <p>Project Manager</p>
                    </div>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">679</p>
                            <p class="text-muted">Tweets</p>
                        </li>
                        <li>
                            <p class="size-h3">575</p>
                            <p class="text-muted">Followers</p>
                        </li>
                        <li>
                            <p class="size-h3">23</p>
                            <p class="text-muted">Following</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end profile panel -->

    
            <!-- List group -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Lists</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">7</span>
                        The industry's standard
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-info">3</span>
                        software like Aldus PageMaker
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-warning">4</span>
                        Various versions have evolved
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-danger">3</span>
                        There are many variations of passages
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-success">10</span>
                        Richard McClintock, a Latin professor
                    </li>
                </ul>
            </div>
            <!-- end List group -->


            <!-- Panel box vertical -->
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-success">
                            <i class="fa fa-bell text-large"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">135</p>
                            <p class="text-muted">Notifications</p>
                        </div>
                    </section>
                </div>

                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-danger">
                            <i class="fa fa-envelope text-large"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">27</p>
                            <p class="text-muted">Emails</p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-warning">
                            <i class="fa fa-wifi text-large"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">6</p>
                            <p class="text-muted">Wifi networks</p>
                        </div>
                    </section>
                </div>

                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-info">
                            <i class="fa fa-language text-large"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">10</p>
                            <p class="text-muted">Languages</p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-facebook">
                            <div class="divider divider"></div>
                            <i class="fa fa-facebook size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">575</p>
                                    <p class="text-muted">Followers</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Following</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-twitter">
                            <div class="divider divider"></div>
                            <i class="fa fa-twitter size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">575</p>
                                    <p class="text-muted">Followers</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Following</p>
                                </li>
                            </ul>
                        </div>
                    </section>                        
                </div>
            </div>
            <!-- end Panel box vertical -->

        </div>
        <div class="col-md-6">

            <!-- Pofile panel -->
            <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <div class="overlay_prof"></div>
                    <div class="profile_info">
                        <h3>John Doe</h3>
                        <p>Project Manager</p>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        <i class="fa fa-envelope-o"></i>
                        New messages
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-warning">2</span>
                        <i class="fa fa-comments-o"></i>
                        New comments
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-info">1</span>
                        <i class="fa fa-heart-o"></i>
                        Likes
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-success">3</span>
                        <i class="fa fa-folder-open-o"></i>
                        Folders
                    </li>
                </ul>
            </div>
            <!-- end Pofile panel -->


            <!-- Panel box -->
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-facebook">
                    <p class="size-h1"><i class="fa fa-facebook"></i></p>
                </div>
                <div class="panel-item bg-twitter">
                    <p class="size-h1"><i class="fa fa-twitter"></i></p>
                </div>
                <div class="panel-right panel-item bg-google-plus">
                    <p class="size-h1"><i class="fa fa-google-plus"></i></p>
                </div>
            </section>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-danger">
                            <i class="fa fa-apple"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">3</p>
                            <p class="text-muted">Amazing IOS Apps</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-warning">
                            <i class="fa fa-github"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">103</p>
                            <p class="text-muted">Development Projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-success">
                            <i class="fa fa-windows"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">3</p>
                            <p class="text-muted">Windows Apps</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-info">
                            <i class="fa fa-android"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">4</p>
                            <p class="text-muted">Android versions</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Meida -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Media</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>User name</label>
                                    John Wellington
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                    janedoe@doezers.com
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-home"></span>
                                    <label>Address</label>
                                    Waringerstreet 141, Country name
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>Contact</label>
                                    (+43) 645 63253736
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Nationality</label>
                                    Argentina
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-globe"></span>
                                    <label>Website</label>
                                    www.somewebsite.com
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Media -->

            <!-- Breadcrumbs -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Breadcrumbs</strong></div>
                <div class="panel-body">
                    <ol class="breadcrumb">
                        <li><a href="javascript:;">Home</a></li>
                        <li><a href="javascript:;">Library</a></li>
                        <li class="active">Data</li>
                    </ol>

                    <ol class="breadcrumb-alt">
                        <li><a href="javascript:;">Home</a></li>
                        <li><a href="javascript:;">Library</a></li>
                        <li class="active"><a href="widgets.html">Data</a></li>
                    </ol>
                </div>
            </div>
            <!-- end Breadcrumbs -->

        </div>
    </div>

</div>