{
  "extends": [
    "airbnb",
    "plugin:react-hooks/recommended"
  ],
  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },

  "rules": {
    "no-unused-vars": [1, {}],
    "import/no-extraneous-dependencies": "error",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "jsx-a11y/label-has-associated-control": [0, {}],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "some": [ "id" ]
      }
    }],
    "max-len": ["error", {"code": 120, "ignoreRegExpLiterals": true, "tabWidth": 2}],
    "no-console": [0],
    "no-alert": [0],
    "no-trailing-spaces": "off",
    "no-multiple-empty-lines": "off",
    "linebreak-style": "off",
    "react/jsx-one-expression-per-line": [0, { "allow": "literal" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-fragments" : ["off", "element"],
    "react/jsx-props-no-spreading": [0, {"html": "ignore"}],
    "rest-spread-spacing": "off",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "template-curly-spacing" : "off",
    "indent" : "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [ "@", "./src" ]
        ],
        "extensions": [".js", ".css", ".sass", ".json", ".jsx"]
      }
    }
  }
}
