<div class="page page-charts" data-ng-controller="morrisChartCtrl">

    <section data-ng-controller="chartjsCtrl">

        <div class="row">
            <div class="col-md-6">

              <section class="md-content-section">
                <md-toolbar class="md-accent">
                  <div class="md-toolbar-tools">
                    Line Chart js
                  </div>
                </md-toolbar>

                <md-content>
                  <div class="md-content__body">
                    <chart class="chartjs" data-data="chartjsLine" data-type="Line" value="myChart"></chart>
                  </div>
                </md-content>

              </section>
            </div>

            <div class="col-md-6">

              <section class="md-content-section">
                <md-toolbar class="md-accent">
                  <div class="md-toolbar-tools">
                    Bar Chart js
                  </div>
                </md-toolbar>

                <md-content>
                  <div class="md-content__body">
                    <chart class="chartjs" data-data="chartjsBar" data-type="Bar" value="myChart"></chart>
                  </div>
                </md-content>

              </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

              <section class="md-content-section">
                <md-toolbar class="md-accent">
                  <div class="md-toolbar-tools">
                    Radar Chart js
                  </div>
                </md-toolbar>

                <md-content>
                  <div class="md-content__body">
                    <chart class="chartjs" data-data="chartjsRadar" data-type="Radar" value="myChart"></chart>
                  </div>
                </md-content>

              </section>
            </div>

            <div class="col-md-6">

              <section class="md-content-section">
                <md-toolbar class="md-accent">
                  <div class="md-toolbar-tools">
                    Polar Chart js
                  </div>
                </md-toolbar>

                <md-content>
                  <div class="md-content__body">
                    <chart class="chartjs" data-data="chartjsPolarArea" data-type="PolarArea" value="myChart"></chart>
                  </div>
                </md-content>

              </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

              <section class="md-content-section">
                <md-toolbar class="md-accent">
                  <div class="md-toolbar-tools">
                    Pie Chart js
                  </div>
                </md-toolbar>

                <md-content>
                  <div class="md-content__body">
                    <chart class="chartjs" data-data="chartjsPie" data-type="Pie" value="myChart"></chart>
                  </div>
                </md-content>

              </section>
            </div>

            <div class="col-md-6">

              <section class="md-content-section">
                <md-toolbar class="md-accent">
                  <div class="md-toolbar-tools">
                    Doughnut Chart js
                  </div>
                </md-toolbar>

                <md-content>
                  <div class="md-content__body">
                    <chart class="chartjs" data-data="chartjsDoughnut" data-type="Doughnut" value="myChart"></chart>
                  </div>
                </md-content>

              </section>
            </div>


        </div>

    </section>
</div>