.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.page-container {
  max-width: 1170px;
  margin: auto;
}