.dropdown-menu {
  @include border-radius(0px);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: $color--primary;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: $color--primary;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #999;
}

.dropdown-header {
  color: #999;
}

.dropdown-menu {
  @include box-shadow(none);
}

.dropdown-menu.dropdown-dark {
  background-color: $color--accent;
}

.dropdown-menu.dropdown-dark.with-arrow:after {
  border-bottom: 7px solid $color--accent;
}

.dropdown-menu.dropdown-dark > li > a {
  color: #999;
}

.dropdown-menu.with-arrow {
  margin-top: 0;
}

.dropdown-menu.with-arrow:before {
  content: " ";
  position: absolute;
  left: 12px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu.with-arrow:after {
  content: " ";
  position: absolute;
  left: 13px;
  top: -14px;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.dropdown-menu.with-arrow.pull-right {
  margin-top: 0;
}

.dropdown-menu.with-arrow.pull-right:before {
  left: auto;
  right: 18px;
}

.dropdown-menu.with-arrow.pull-right:after {
  left: auto;
  right: 19px;
}

.dropdown-menu.with-arrow.panel-default:before {
  border-bottom: 8px solid #ffffff;
}

.dropdown-menu.with-arrow.panel-default:after {
  border-bottom: 7px solid #ffffff;
}

.dropdown-menu.with-arrow.panel-dark:before {
  border-bottom: 8px solid #ffffff;
}

.dropdown-menu.with-arrow.panel-dark:after {
  border-bottom: 7px solid #ffffff;
}

.dropdown-menu.with-arrow.panel-primary:before {
  border-bottom: 8px solid $color--primary;
}

.dropdown-menu.with-arrow.panel-primary:after {
  border-bottom: 7px solid $color--primary;
}

.dropdown-menu.with-arrow.panel-success:before {
  border-bottom: 8px solid #d5ffe1;
}

.dropdown-menu.with-arrow.panel-success:after {
  border-bottom: 7px solid #eefff6;
}

.dropdown-menu.with-arrow.panel-info:before {
  border-bottom: 8px solid #cbebff;
}

.dropdown-menu.with-arrow.panel-info:after {
  border-bottom: 7px solid #eff6ff;
}

.dropdown-menu.with-arrow.panel-warning:before {
  border-bottom: 8px solid #ffeed6;
}

.dropdown-menu.with-arrow.panel-warning:after {
  border-bottom: 7px solid #fffbef;
}

.dropdown-menu.with-arrow.panel-danger:before {
  border-bottom: 8px solid #ffd6d4;
}

.dropdown-menu.with-arrow.panel-danger:after {
  border-bottom: 7px solid #fff1ed;
}

.btn-toolbar:before, .btn-toolbar:after {
  content: " ";
  display: table;
}

.btn-toolbar:after {
  clear: both;
}

.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
  content: " ";
  display: table;
}

.btn-group-vertical > .btn-group:after {
  clear: both;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  @include border-radius(0px);
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

.input-group-addon {
  color: #767676;
  background-color: #eee;
  border: 1px solid #cbd5dd;
  @include border-radius(0px);
}

.input-group-addon.input-sm, .form-horizontal .form-group-sm .input-group-addon.form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .input-group-addon.btn {
  @include border-radius(0px);
}

.input-group-addon.input-lg, .form-horizontal .form-group-lg .input-group-addon.form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .input-group-addon.btn {
  @include border-radius(0px);
}

.input-group-btn:first-child>.btn,.input-group-addon:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.input-group-addon:last-child,.input-group-btn:last-child>.btn {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.input-group-addon input[type="radio"], .input-group-addon input[type="checkbox"] {
  margin-top: 0;
}