
.list-group-item {
  border: 1px solid #eff2f7;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus {
  color: #999;
}

.list-group-item.disabled .list-group-item-text, .list-group-item.disabled:hover .list-group-item-text, .list-group-item.disabled:focus .list-group-item-text {
  color: #999;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  color: #fff;
  background-color: $color--primary;
  border-color: #eff2f7;
}

.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text {
  color: #cbf2f1;
}

.list-group-item-success {
  color: #4c9c77;
  background-color: #eefff6;
}

a.list-group-item-success {
  color: #4c9c77;
}

a.list-group-item-success .list-group-item-heading {
  color: inherit;
}

a.list-group-item-success:hover, a.list-group-item-success:focus {
  color: #4c9c77;
  background-color: #d5ffe9;
}

a.list-group-item-success.active, a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
  color: #fff;
  background-color: #4c9c77;
  border-color: #4c9c77;
}

.list-group-item-info {
  color: $color--info;
  background-color: #eff6ff;
}

a.list-group-item-info {
  color: $color--info;
}

a.list-group-item-info .list-group-item-heading {
  color: inherit;
}

a.list-group-item-info:hover, a.list-group-item-info:focus {
  color: $color--info;
  background-color: #d6e8ff;
}

a.list-group-item-info.active, a.list-group-item-info.active:hover, a.list-group-item-info.active:focus {
  color: #fff;
  background-color: $color--info;
  border-color: $color--info;
}

.list-group-item-warning {
  color: #bfa34c;
  background-color: #fffbef;
}

a.list-group-item-warning {
  color: #bfa34c;
}

a.list-group-item-warning .list-group-item-heading {
  color: inherit;
}

a.list-group-item-warning:hover, a.list-group-item-warning:focus {
  color: #bfa34c;
  background-color: #fff5d6;
}

a.list-group-item-warning.active, a.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #bfa34c;
  border-color: #bfa34c;
}

.list-group-item-danger {
  color: $color--danger;
  background-color: #fff1ed;
}

a.list-group-item-danger {
  color: $color--danger;
}

a.list-group-item-danger .list-group-item-heading {
  color: inherit;
}

a.list-group-item-danger:hover, a.list-group-item-danger:focus {
  color: $color--danger;
  background-color: #ffddd4;
}

a.list-group-item-danger.active, a.list-group-item-danger.active:hover, a.list-group-item-danger.active:focus {
  color: #fff;
  background-color: $color--danger;
  border-color: $color--danger;
}

.list-group-item {
  padding: 15px;
  border: 1px solid #f3f3f3;
}

.list-info li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.list-info li:last-child {
  border-bottom: none;
}

.list-info li .icon {
  margin-right: 10px;
  color: $color--primary;
}

.list-info li label {
  width: 100px;
}

.circle-statistic ul{
  text-align:center;
  padding-left:0px;

  li{
    display: inline-block;
    list-style:none;
  }
}

.left-statistics-info {
  text-align: right;
  font-size: 13px;
  text-transform:uppercase;
  position: relative;
  top: 10px;
  padding-right: 10px;
}

.right-statistics-info {
  text-align: left;
  font-size: 13px;
  text-transform:uppercase;
  position: relative;
  top: 10px;
  padding-left: 10px;
}