.btn {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    padding: 18px 35px;
    z-index: 2;
    position: relative;
}