
<div class="page">

    <div class="row">
        <div class="col-md-6">

          <section class="md-content-section">
            <md-toolbar class="md-accent">
              <div class="md-toolbar-tools">
                Basic form
              </div>
            </md-toolbar>

            <md-content>
              <div class="md-content__body">
                <form role="form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <md-checkbox required class="md-primary" aria-label="Checkbox 1">
                    Check me out
                  </md-checkbox>
                  <md-button class="btn-width-medium md-raised md-primary">Submit</md-button>
                </form>
              </div>
            </md-content>

          </section>

        </div>
        <div class="col-md-6">
          <section class="md-content-section">
            <md-toolbar class="md-accent">
              <div class="md-toolbar-tools">
                Horizontal Form
              </div>
            </md-toolbar>

            <md-content>
              <div class="md-content__body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <md-checkbox required class="md-primary" aria-label="Checkbox 1">
                        Remember me
                      </md-checkbox>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <md-button class="btn-width-medium md-raised md-primary">Submit</md-button>
                    </div>
                  </div>
                </form>
              </div>
            </md-content>

          </section>
        </div>
    </div>


    <section class="md-content-section">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          Inline form
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
            </div>
            <md-checkbox required class="md-primary" aria-label="Checkbox 1">
              Remember me
            </md-checkbox>
            <md-button class="btn-width-medium md-raised md-primary">Submit</md-button>
          </form>
        </div>
      </md-content>

    </section>

    <section class="md-content-section">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          Column sizing
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-1">
                <input type="text" class="form-control col-sm-1" placeholder="col-sm-1">
              </div>
              <div class="col-sm-11">
                <input type="text" class="form-control col-sm-11" placeholder="col-sm-11">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-2">
                <input type="text" class="form-control col-sm-2" placeholder="col-sm-2">
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control col-sm-10" placeholder="col-sm-10">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-3">
                <input type="text" class="form-control col-sm-3" placeholder="col-sm-3">
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control col-sm-9" placeholder="col-sm-9">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-4">
                <input type="text" class="form-control col-sm-4" placeholder="col-sm-4">
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control col-sm-8" placeholder="col-sm-8">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-5">
                <input type="text" class="form-control col-sm-5" placeholder="col-sm-5">
              </div>
              <div class="col-sm-7">
                <input type="text" class="form-control col-sm-7" placeholder="col-sm-7">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control col-sm-6" placeholder="col-sm-6">
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control col-sm-6" placeholder="col-sm-6">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-7">
                <input type="text" class="form-control col-sm-7" placeholder="col-sm-7">
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control col-sm-5" placeholder="col-sm-5">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-8">
                <input type="text" class="form-control col-sm-8" placeholder="col-sm-8">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control col-sm-4" placeholder="col-sm-4">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-9">
                <input type="text" class="form-control col-sm-9" placeholder="col-sm-9">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control col-sm-3" placeholder="col-sm-3">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-10">
                <input type="text" class="form-control col-sm-10" placeholder="col-sm-10">
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control col-sm-2" placeholder="col-sm-2">
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="col-sm-11">
                <input type="text" class="form-control col-sm-11" placeholder="col-sm-11">
              </div>
              <div class="col-sm-1">
                <input type="text" class="form-control col-sm-1" placeholder="col-sm-1">
              </div>
            </div>

            <div class="divider"></div>

          </div>
        </div>
      </md-content>

    </section>

</div>