/*-----------------------------------------------------------------------------------*/
/*	BuilderPress editor styles
/*-----------------------------------------------------------------------------------*/
body#tinymce.wp-editor,
body {
  font-family: 'Montserrat', sans-serif;
}

body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6, body#tinymce.wp-editor th, body#tinymce.wp-editor dt,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body th,
body dt {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #1A1A1A;
}

body#tinymce.wp-editor h1,
body h1 {
  font-size: 36px;
}

body#tinymce.wp-editor h2,
body h2 {
  font-size: 30px;
}

body#tinymce.wp-editor h3,
body h3 {
  font-size: 24px;
}

body#tinymce.wp-editor h4,
body h4 {
  font-size: 18px;
}

body#tinymce.wp-editor h5,
body h5 {
  font-size: 14px;
}

body#tinymce.wp-editor h6,
body h6 {
  font-size: 12px;
}

body#tinymce.wp-editor img,
body img {
  max-width: 100%;
  height: auto;
}

body#tinymce.wp-editor img[data-wp-more],
body img[data-wp-more] {
  height: 16px;
}

body#tinymce.wp-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote,
body#tinymce.wp-editor blockquote,
body#tinymce.wp-editor blockquote.wp-block-quote,
body .wp-block-freeform.block-library-rich-text__tinymce blockquote,
body blockquote,
body blockquote.wp-block-quote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-color: #ffd800;
}

body#tinymce.wp-editor p, body#tinymce.wp-editor li, body#tinymce.wp-editor td, body#tinymce.wp-editor dd, body#tinymce.wp-editor address,
body p,
body li,
body td,
body dd,
body address {
  font-size: 14px;
  line-height: 1.714285714285714;
  color: #808080;
}

body#tinymce.wp-editor dd,
body dd {
  margin-bottom: 25px;
}

body#tinymce.wp-editor table,
body table {
  margin-bottom: 25px;
}

body#tinymce.wp-editor td,
body td {
  padding-left: 10px;
  padding-right: 10px;
}

body#tinymce.wp-editor ul, body#tinymce.wp-editor ol,
body ul,
body ol {
  padding-left: 20px;
}

body#tinymce.wp-editor li,
body li {
  margin-bottom: 10px;
  margin-top: 10px;
}

body#tinymce.wp-editor a,
body a {
  color: #F5B800;
}

body#tinymce.wp-editor a:hover,
body a:hover {
  color: #1A1A1A;
}

body#tinymce.wp-editor input[type="password"],
body input[type="password"] {
  padding-left: 18px;
  padding-right: 18px;
  border: 1px solid #e5e8f1;
  outline: none;
  height: 48px;
  vertical-align: middle;
  transition: .2s all ease-in-out;
}

body#tinymce.wp-editor input[type="password"]:focus,
body input[type="password"]:focus {
  border-color: #1A1A1A;
}

body#tinymce.wp-editor input[type="submit"],
body input[type="submit"] {
  height: 48px;
  background: #FFD800;
  border: none;
  outline: none;
  vertical-align: middle;
  color: #1A1A1A;
  padding-right: 18px;
  padding-left: 18px;
  transition: .2s all ease-in-out;
}

body#tinymce.wp-editor input[type="submit"]:hover,
body input[type="submit"]:hover {
  color: #FFD800;
  background: #1A1A1A;
}

body#tinymce.wp-editor .wp-caption-dd,
body .wp-caption-dd {
  font-size: 12px;
  text-align: center;
}

body#tinymce.wp-editor pre,
body pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wp-block-gallery {
  padding-left: 0;
  padding-right: 0;
}

.alignfull {
  padding-left: 25px;
  padding-right: 25px;
}

.wp-block {
  max-width: calc(750px + 30px);
}

.wp-block[data-align="wide"] {
  max-width: calc(1140px + 30px);
}

.wp-block[data-align="full"] {
  max-width: none;
}

.editor-post-title__block .editor-post-title__input {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #1A1A1A;
}

.wp-block-freeform.block-library-rich-text__tinymce code,
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.wp-block-freeform.block-library-rich-text__tinymce a,
a {
  color: #f5b800;
}
